{% extends "base.html" %}

{% block content %}
  <h1>Admin Dashboard</h1>
  <p>Welcome, {{ request.user.username }}! You're logged in as an Admin.</p>
  <p><strong><a href="{% url 'technologist_page' %}">Go to Technologist Page</a></strong></p>
  <p><strong><a href="{% url 'employee_page' %}">Go to Employee Page</a></strong></p>
  <!-- Admin-specific content goes here -->
  <p>This is the admin page where you can manage users, view reports, and perform other administrative tasks.</p>
  <p><a href="{% url 'employee_list' %}">Employees</a></p>
  <p><a href="{% url 'salary_list' %}">Salaries</a></p>
  <p><a href="{% url 'attendance_list' %}">Attendances</a></p>
  <p><a href="{% url 'order_list' %}">Orders</a></p>
{% endblock %}