{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="dashboard-container">
  <h1>{% trans 'Admin Dashboard' %}</h1>
  <p>{% trans 'Welcome,' %} {{ request.user.username }}! {% trans "You're logged in as an Admin." %}</p>

  <div class="row">
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{% trans 'Navigation' %}</h5>
          <form id="branchSwitchForm" action="{% url 'branch_switch' %}" method="post" class="branch-switch-form">
            {% csrf_token %}
            <div class="form-group">
              <select id="branchSelect" name="branch" class="form-control" onchange="document.getElementById('branchSwitchForm').submit();">
                {% for branch in branches %}
                  <option value="{{ branch.id }}" {% if branch.id == request.user.userprofile.branch.id %}selected{% endif %}>
                    {{ branch.name }}
                  </option>
                {% endfor %}
              </select>
            </div>
          </form>
          <a href="{% url 'technologist_page' %}" class="btn btn-primary mb-3">{% trans 'Technologist' %}</a>
          <a href="{% url 'cutter_page' %}" class="btn btn-primary mb-3">{% trans 'Cutter' %}</a>
          <a href="{% url 'qc_page' %}" class="btn btn-primary mb-3">{% trans 'QC' %}</a>
          <a href="{% url 'packer_page' %}" class="btn btn-primary mb-3">{% trans 'Packer' %}</a>
        </div>
      </div>
    </div>
    <div class="col-md-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title">{% trans 'Resources' %}</h5>
          <a href="{% url 'dashboard_page' %}" class="btn btn-primary mb-3">{% trans 'Dashboard' %}</a>
          <a href="{% url 'client_order_list' %}" class="btn btn-secondary">{% trans 'Orders' %}</a>
          <a href="{% url 'employee_list' %}" class="btn btn-secondary">{% trans 'Employees' %}</a>
          <a href="{% url 'salary_list' %}" class="btn btn-secondary">{% trans 'Salaries' %}</a>
          <a href="{% url 'fixed_salary_list' %}" class="btn btn-secondary">{% trans 'Fixed Salaries' %}</a>
          <a href="{% url 'attendance_list' %}" class="btn btn-secondary">{% trans 'Attendances' %}</a>
          <a href="{% url 'client_list' %}" class="btn btn-secondary">{% trans 'Clients' %}</a>
          <a href="{% url 'branch_list' %}" class="btn btn-secondary">{% trans 'Branches' %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
