<!DOCTYPE html>
<html>
<head>
    <title>Barcode Scan</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Scan Barcode for Product ID: {{ product_id }}</h1>
    <img src="{{ barcode_url }}" alt="Barcode"/>
    <input type="text" id="barcode-input" autofocus style="position:absolute; top:-100px;"/>
    <script>
        $(document).ready(function() {
            $('#barcode-input').on('input', function() {
                var barcode = $(this).val();
                // Assuming the barcode scanner inputs the product ID and triggers 'Enter'
                if (barcode == '{{ product_id }}') {
                    alert('Barcode Scanned: ' + barcode);
                    // Here you can open a modal or redirect
                    $(this).val(''); // clear the input for next scan
                }
            });
        });
    </script>
</body>
</html>