{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Luma ERP</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_up.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
   

    <style>
        .collapsesidebarset {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 50px;
            width: 220px;
        }
        #sidebar {
            display: flex;
            flex-direction: column;
            /* Ensure the sidebar takes the full viewport height (or any desired height) */
            height: 95vh;
        }
        
        /* Push the return button to the bottom */
        .sidebar-return {
            margin-top: auto;
        }
        #additionalSubmenu .list-group-item {
            font-size: 0.85rem; /* Adjust this value as needed */
        }
    </style>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js" integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM=" crossorigin="anonymous"></script>

</head>

<body>
    <main>
        <div class="d-flex" id="wrapper">
            <div class="border-right" id="sidebar-wrapper">
                <div class="d-flex justify-content-between align-items-center" style="width:222px;">
                    <button type="button" id="toggle-sidebar" aria-label="Toggle sidebar" style="color:#6c757d;    border: none;
                background: none;
                outline: none;
                width: 64px;
                margin-top:10px;">
                        <i class="fas fa-bars sideicon"></i>
                    </button>
                    <button type="button" class="close-btn" id="close-sidebar" id="toggle-sidebar"
                        aria-label="Toggle sidebar">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>

                {% if sidebar_type == 'technology' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'client_order_list' %}"
                    class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-home fa-fw"></i>
                        <span class="sidetext">{% trans 'Home' %}</span>
                    </a>
                    <a href="{% url 'assortment_list' %}"
                    class="list-group-item list-group-item-action text-black collapsesidebarset"
                    data-id="Assortments">
                        <i class="fas fa-table fa-fw"></i>
                        <span class="sidetext">{% trans 'Models' %}</span>
                    </a>
                    <a href="{% url 'employee_list' %}"
                    class="list-group-item list-group-item-action text-black collapsesidebarset"
                    data-id="employees">
                        <i class="fas fa-id-card fa-fw"></i>
                        <span class="sidetext">{% trans 'Employees' %}</span>
                    </a>

                    <!-- Additional dropdown tab -->
                    <a href="#additionalSubmenu" 
                    class="list-group-item list-group-item-action text-black collapsesidebarset" 
                    data-toggle="collapse" 
                    aria-expanded="false" 
                    aria-controls="additionalSubmenu">
                        <i class="fas fa-plus fa-fw"></i>
                        <span class="sidetext">{% trans 'Additional' %}</span>
                    </a>
                    <div class="collapse" id="additionalSubmenu">
                        <a href="{% url 'client_list' %}" class="list-group-item list-group-item-action text-black ml-4">
                            {% trans 'Clients' %}
                        </a>
                        <a href="{% url 'color_list' %}" class="list-group-item list-group-item-action text-black ml-4">
                            {% trans 'Colors' %}
                        </a>
                        <a href="{% url 'fabrics_list' %}" class="list-group-item list-group-item-action text-black ml-4">
                            {% trans 'Fabrics' %}
                        </a>
                        <a href="{% url 'operation_list' %}" class="list-group-item list-group-item-action text-black ml-4">
                            {% trans 'Operations' %}
                        </a>
                        <a href="{% url 'node_list' %}" class="list-group-item list-group-item-action text-black ml-4">
                            {% trans 'Nodes' %}
                        </a>
                        <a href="{% url 'equipment_list' %}" class="list-group-item list-group-item-action text-black ml-4">
                            {% trans 'Equipment' %}
                        </a>
                    </div>

                    {% if request.user.userprofile.type == 0 %}
                    <a href="{% url 'admin_page' %}"
                    class="list-group-item list-group-item-action text-black collapsesidebarset sidebar-return"
                    data-id="Return">
                        <i class="fas fa-backward fa-fw"></i>
                        <span class="sidetext">{% trans 'Return' %}</span>
                    </a>
                    {% endif %}
                </div>              
                {% elif sidebar_type == 'cutter' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'client_order_list_cutter' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% if request.user.userprofile.type == 0 %}
                    <a href="{% url 'admin_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset sidebar-return"
                        data-id="Return">
                        <i class="fas fa-backward fa-fw"></i>
                        <span class="sidetext">{% trans 'Return' %}</span>
                    </a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'qc_page' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'client_order_list_qc' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'scan_qc_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Scan">
                        <i class="fas fa-solid fa-qrcode fa-fw"></i><span class="sidetext">{% trans 'Scan' %}</span></a>
                    {% if request.user.userprofile.type == 0 %}
                    <a href="{% url 'admin_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset sidebar-return"
                        data-id="Return">
                        <i class="fas fa-backward fa-fw"></i>
                        <span class="sidetext">{% trans 'Return' %}</span>
                    </a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'packer' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'client_order_list_packer' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'scan_packer_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Scan">
                        <i class="fas fa-solid fa-qrcode fa-fw"></i><span class="sidetext">{% trans 'Scan' %}</span></a>
                    {% if request.user.userprofile.type == 0 %}
                    <a href="{% url 'admin_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset sidebar-return"
                        data-id="Return">
                        <i class="fas fa-backward fa-fw"></i>
                        <span class="sidetext">{% trans 'Return' %}</span>
                    </a>
                    {% endif %}                
                </div>
                {% comment %} {% elif sidebar_type == 'keeper' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'roll_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Rolls"><i
                        class="fas fa-clipboard fa-fw"></i><span class="sidetext">{% trans 'Rolls' %}</span></a>
                    <a href="{% url 'color_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Color"><i class="fas fa-paint-roller fa-fw"></i><span class="sidetext">{% trans 'Color' %}</span></a>
                    <a href="{% url 'fabrics_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Fabrics"><i class="fas fa-toilet-paper fa-fw"></i><span class="sidetext">{% trans 'Fabrics' %}</span></a>
                    <a href="{% url 'abstract_accessory_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="abstract_accessory"><i class="fas fa-paperclip fa-fw"></i><span class="sidetext">{% trans 'Abstract Accessory' %}</span></a>
                    {% if request.user.userprofile.type == 0 %}
                    <a href="{% url 'admin_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset sidebar-return"
                        data-id="Return">
                        <i class="fas fa-backward fa-fw"></i>
                        <span class="sidetext">{% trans 'Return' %}</span>
                    </a>
                    {% endif %}                
                </div> {% endcomment %}
                {% elif sidebar_type == 'emp' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'pending_works_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Pending">
                        <i class="fas fa-home fa-fw"></i> <span class="sidetext">{% trans 'Home' %}</span></a>
                </div>
                {% else %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    <a href="{% url 'admin_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span>
                    </a>
                    <a href="{% url 'client_order_list_cutter' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-cut  fa-fw"></i><span class="sidetext">{% trans 'Cutter' %}</span>
                    </a>
                    <a href="{% url 'client_order_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-clipboard-list  fa-fw"></i><span class="sidetext">{% trans 'Technologist' %}</span>
                    </a>
                    <a href="{% url 'client_order_list_qc' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-check-square  fa-fw"></i><span class="sidetext">{% trans 'QC' %}</span>
                    </a>
                    <a href="{% url 'client_order_list_packer' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-box  fa-fw"></i><span class="sidetext">{% trans 'Packer' %}</span>
                    </a>
                    {% comment %} <a href="{% url 'keeper_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-file-invoice-dollar  fa-fw"></i><span class="sidetext">{% trans 'Keeper' %}</span>
                    </a> {% endcomment %}
                </div>
                {% endif %}
            </div>
            <div id="page-content-wrapper">
                {% block content %}{% endblock %}
                {% block extra_js %}{% endblock %}
            </div>
        </div>
    </main>
    <footer>
        <!-- Footer Content here (if any) -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sidebarWrapper = document.getElementById('sidebar-wrapper');
            const toggleButton = document.getElementById('toggle-sidebar');
            const closeButton = document.getElementById('close-sidebar');
            const currentPath = window.location.pathname;
        
            // Loop through sidebar links
            document.querySelectorAll('#sidebar .list-group-item').forEach(function (link) {
                // Skip links that are dropdown toggles (i.e. their href starts with "#")
                if (link.getAttribute('href').charAt(0) === '#') {
                    return;
                }
                const linkPath = new URL(link.href).pathname;
                if (currentPath === linkPath || currentPath.includes(linkPath)) {
                    // Remove active from all sidebar items and add to the matching link
                    document.querySelectorAll('#sidebar .list-group-item').forEach(item => item.classList.remove('active'));
                    link.classList.add('active');
                }
            });
        
            toggleButton.addEventListener('click', function () {
                sidebarWrapper.classList.toggle('collapsed');
            });

            closeButton.addEventListener('click', function () {
                sidebarWrapper.classList.toggle('collapsed');
            });
        });
    </script>        

</body>

</html>