{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Luma ERP</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'css/main_style.css' %}">
    <link rel="stylesheet" href="{% static 'css/clients.css' %}">
    <link rel="stylesheet" href="{% static 'css/pop_up.css' %}">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
   

    <style>
        .collapsesidebarset {
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 50px;
            width: 220px;
        }
    </style>

    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.14.0/jquery-ui.min.js" integrity="sha256-Fb0zP4jE3JHqu+IBB9YktLcSjI1Zc6J2b6gTjB0LpoM=" crossorigin="anonymous"></script>

</head>

<body>
    <main>
        <div class="d-flex" id="wrapper">
            <div class="border-right" id="sidebar-wrapper">
                <div class="d-flex justify-content-between align-items-center" style="width:222px;">
                    <button type="button" id="toggle-sidebar" aria-label="Toggle sidebar" style="color:#6c757d;    border: none;
                background: none;
                outline: none;
                width: 64px;
                margin-top:10px;">
                        <i class="fas fa-bars sideicon"></i>
                    </button>
                    <button type="button" class="close-btn" id="close-sidebar" id="toggle-sidebar"
                        aria-label="Toggle sidebar">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>

                {% if sidebar_type == 'technology' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres ">
                    {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% comment %} <a href="{% url 'order_list_technologist' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-tasks fa-fw"></i><span class="sidetext">{% trans 'Work'%}</span></a> {% endcomment %}
                    <a href="{% url 'client_order_list_technologist' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="orders">
                        <i class="fas fa-tasks fa-fw"></i><span class="sidetext">{% trans 'Work' %}</span>
                    </a>
                    <a href="{% url 'assortment_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Assortments"><i class="fas fa-table fa-fw"></i><span class="sidetext">{% trans 'Model Base' %}</span></a>
                    <a href="{% url 'operation_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Operations"><i class="fas fa-users fa-fw"></i><span class="sidetext">{% trans 'Operations' %}</span></a>
                    <a href="{% url 'node_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Nodes"><i
                            class="fas fa-user fa-fw"></i><span class="sidetext">{% trans 'Nodes' %}</span></a>
                    <a href="{% url 'equipment_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Equipment"><i class="fas fa-clipboard-list fa-fw"></i><span class="sidetext">{% trans 'Equipment' %}</span></a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'cutter' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'client_order_list_cutter' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-tasks fa-fw"></i><span class="sidetext">{% trans 'Work' %}</span></a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'qc_page' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'client_order_list_qc' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-tasks fa-fw"></i><span class="sidetext">{% trans 'Work' %}</span></a>
                    <a href="{% url 'scan_qc_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Scan">
                        <i class="fas fa-solid fa-qrcode fa-fw"></i><span class="sidetext">{% trans 'Scan' %}</span></a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'packer' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'client_order_list_packer' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Models">
                        <i class="fas fa-tasks fa-fw"></i><span class="sidetext">{% trans 'Work' %}</span></a>
                    <a href="{% url 'scan_packer_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Scan">
                        <i class="fas fa-solid fa-qrcode fa-fw"></i><span class="sidetext">{% trans 'Scan' %}</span></a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'keeper' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'roll_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Rolls"><i
                        class="fas fa-clipboard fa-fw"></i><span class="sidetext">{% trans 'Rolls' %}</span></a>
                    <a href="{% url 'color_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Color"><i class="fas fa-paint-roller fa-fw"></i><span class="sidetext">{% trans 'Color' %}</span></a>
                    <a href="{% url 'fabrics_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="Fabrics"><i class="fas fa-toilet-paper fa-fw"></i><span class="sidetext">{% trans 'Fabrics' %}</span></a>
                    <a href="{% url 'abstract_accessory_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="abstract_accessory"><i class="fas fa-paperclip fa-fw"></i><span class="sidetext">{% trans 'Abstract Accessory' %}</span></a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% elif sidebar_type == 'emp' %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    <a href="{% url 'pending_works_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="Pending">
                        <i class="fas fa-tasks fa-fw"></i> <span class="sidetext">{% trans 'Work' %}</span></a>
                    <a href="{% url 'done_works_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="work">
                        <i class="fas fa-check fa-fw"></i><span class="sidetext">{% trans 'Done Work' %}</span></a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}" class="list-group-item list-group-item-action text-black"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% else %}
                <div id="sidebar" class="list-group list-group-flush sidenavres">
                    {% if request.user.userprofile.status %}
                    <a href="{% url 'user_redirect' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span>
                    </a>
                    <a href="{% url 'dashboard_page' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="dashboard">
                        <i class="fas fa-sitemap fa-fw"></i><span class="sidetext">{% trans 'Dashboard' %}</span>
                    </a>
                    <a href="{% url 'client_order_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="orders">
                        <i class="fas fa-table  fa-fw"></i><span class="sidetext">{% trans 'Orders' %}</span>
                    </a>
                    <a href="{% url 'employee_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="employees">
                        <i class="fas fa-id-card  fa-fw"></i><span class="sidetext">{% trans 'Employees' %}</span>
                    </a>
                    <a href="{% url 'client_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="clients">
                        <i class="fas fa-user  fa-fw"></i><span class="sidetext">{% trans 'Clients' %}</span>
                    </a>
                    <a href="{% url 'attendance_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="attendances">
                        <i class="fas fa-clipboard-list  fa-fw"></i><span class="sidetext">{% trans 'Attendances' %}</span>
                    </a>
                    <a href="{% url 'branch_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="branches">
                        <i class="fas fa-server  fa-fw"></i><span class="sidetext">{% trans 'Branches' %}</span>
                    </a>
                    <a href="{% url 'salary_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset" data-id="salaries">
                        <i class="fas fa-coins  fa-fw"></i><span class="sidetext">{% trans 'Salaries' %}</span>
                    </a>
                    <a href="{% url 'fixed_salary_list' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-file-invoice-dollar  fa-fw"></i><span class="sidetext">{% trans 'Fixed Salaries' %}</span>
                    </a>

                    <a href="{% url 'order_calendar' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-calendar  fa-fw"></i><span class="sidetext">{% trans 'Calendar' %}</span>

                    </a>

                    <a href="{% url 'whatsapp-qr' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="whatsapp_qrcode">
                        <i class="fab fa-whatsapp fa-fw"></i>
                        <span class="sidetext">{% trans 'WhatsApp' %}</span>
                    </a>
                    <a href="{% url 'select_orders' %}"
                        class="list-group-item list-group-item-action text-black collapsesidebarset"
                        data-id="fixed_salaries">
                        <i class="fas fa-file-invoice-dollar  fa-fw"></i><span class="sidetext">Трудоемкость</span>
                    </a>
                    {% else %}
                    <a href="{% url 'user_redirect' %}" class="list-group-item list-group-item-action text-black"
                        data-id="user_redirect">
                        <i class="fas fa-home fa-fw"></i><span class="sidetext">{% trans 'Home' %}</span></a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div id="page-content-wrapper">
                {% block content %}{% endblock %}
                {% block extra_js %}{% endblock %}
            </div>
        </div>
    </main>
    <footer>
        <!-- Footer Content here (if any) -->
    </footer>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Sortable/1.14.0/Sortable.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'js/dashboard.js' %}"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const sidebarWrapper = document.getElementById('sidebar-wrapper');
            const toggleButton = document.getElementById('toggle-sidebar');
            const closeButton = document.getElementById('close-sidebar');
            const currentPath = window.location.pathname;

            document.querySelectorAll('#sidebar .list-group-item').forEach(function (link) {
                const linkPath = new URL(link.href).pathname;

                if (currentPath === linkPath || currentPath.includes(linkPath)) {
                    document.querySelectorAll('#sidebar .list-group-item').forEach(item => item.classList.remove('active'));
                    link.classList.add('active');
                }
            });

            toggleButton.addEventListener('click', function () {
                sidebarWrapper.classList.toggle('collapsed');
            });

            closeButton.addEventListener('click', function () {
                sidebarWrapper.classList.toggle('collapsed');
            });
        });
    </script>

</body>

</html>