{% extends "base.html" %}

{% block content %}
  <h1>Technologist Dashboard</h1>
  <p>Welcome, {{ request.user.username }}! You're logged in as a Technologist.</p>
  <!-- Technologist-specific content goes here -->
  <p>This is the technologist page where you can access technical resources, manage projects, and collaborate with team members.</p>
  <!-- Clock In/Out Button -->
  {% if request.user.userprofile.type == 0 %}
    <p>You are accessing Technologist page.</p>
  {% else %}
    <form action="{% url 'clock_in_out' %}" method="post">
      {% csrf_token %}
      <button type="submit" class="btn">
        {% if request.user.userprofile.status %}Clock Out{% else %}Clock In{% endif %}
      </button>
    </form>
  {% endif %}
  {% if request.user.userprofile.status or request.user.userprofile.type == 0 %}
    <p><a href="{% url 'passport_list' %}">Passports</a></p>
    <p><a href="{% url 'operation_list' %}">Operations</a></p>
    <p><a href="{% url 'roll_list' %}">Rolls</a></p>
    <p><a href="{% url 'assortment_list' %}">Assortments</a></p>
    <p><a href="{% url 'model_list' %}">Models</a></p>
    <p><a href="{% url 'client_list' %}">Clients</a></p>
  {% else %}
    <div>
      <p><em>You need to be clocked in to access your tasks and updates.</em></p>
    </div>
  {% endif %}
{% endblock %}
