{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content-container">
  <h1 class="list-heading">{% trans "Attendance List" %}</h1>
  <div class="form-inline">
    <form method="post" class="attendance-form">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn filter-btn">{% trans "Show Attendances" %}</button>
    </form>
  </div>

  {% if attendances %}
    <h2>{% trans "Attendance Records:" %}</h2>
    <ul class="list-group">
      {% for attendance in attendances %}
        <li class="list-group-item">{{ attendance.employee }} - {{ attendance.timestamp|date:"Y-m-d H:i" }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No attendance records found." %}</p>
  {% endif %}
</div>
{% endblock %}