{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont">{% trans "Admin Dashboard" %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: 10px;">
          {{ request.user.username }}
        </li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
    <div class="container unique-container maincontr">
        <div class="container">
          <div class="row">
            <div class="col-md-6" style="margin-top:10px;">
              <h2>{% trans "Attendance Records:" %}</h2>
            </div>
            <div class="col-md-6">
              <form method="post" class="date-filter-form">
                {% csrf_token %}
              <div class="form-row align-items-center mb-3">
                <div class="col-auto">
                    {{ form.date.label_tag }}
                </div>
                <div class="col">
                    {{ form.date }}
                </div>
                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">{% trans "Filter" %}</button>
                </div>
            </div>
            </form>
            </div>
          </div>
          </div>
        <div class="unique-records-section">
          {% if attendances %}
            <ul id="attendance-records" class="list-group custom-list-group">
              {% for attendance in attendances %}

              <li class="list-group-item custom-list-item" 
              style="
                  color: 
                      {% if attendance.distance < attendance.branch.radius and attendance.fingerprint == attendance.employee.fingerprint %}
                          green;
                      {% else %}
                          red;
                      {% endif %}
              padding:18px;">
              {{ attendance.employee }} - {{ attendance.timestamp|date:"Y-m-d H:i" }}
              
              {% if attendance.distance >= attendance.branch.radius %}
                  (Outside allowed distance: {{ attendance.distance }} meters)
              {% elif attendance.fingerprint != attendance.employee.fingerprint %}
                  (Fingerprint mismatch)
              {% endif %}
              </li>          
              
              {% endfor %}
              </ul>
              {% else %}
              <p>{% trans "No attendance records found." %}</p>
              {% endif %}
        </div>
    </div>
    <script>
        function filterRecords() {
            const dateInput = document.getElementById('date').value;
            const records = document.querySelectorAll('#attendance-records li');
            
            records.forEach(record => {
                if (record.textContent.includes(dateInput) || dateInput === "") {
                    record.style.display = "flex";
                } else {
                    record.style.display = "none";
                }
            });
        }
    </script>
{% endblock %}
