{% extends "base.html" %}

{% block content %}
  <h1>{% trans "Attendance List" %}</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">{% trans "Show Attendances" %}</button>
  </form>

  {% if attendances %}
    <h2>{% trans "Attendance Records:" %}</h2>
    <ul>
      {% for attendance in attendances %}
        <li>{{ attendance.employee }} - {{ attendance.timestamp }}</li>
      {% endfor %}
    </ul>
  {% else %}
    <p>{% trans "No attendance records found." %}</p>
  {% endif %}
{% endblock %}