{% extends 'base.html' %}
{% load i18n %}
{% block content %}
<div class="content-container">
  <h2 class="form-heading">{% trans "Create New Operation" %}</h2>
  <form method="post" class="crud-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
    </div>
    <div class="form-actions">
      <button type="submit" class="btn create-btn">{% trans "Create" %}</button>
      <a href="{% url 'assortment_detail' pk  %}" class="btn back-btn">{% trans "Complete" %}</a>
    </div>
  </form>
</div>
{% endblock %}