{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="content-container">
  <h2 class="form-heading">{% trans "Operation Details:" %} {{ operation.name }}</h2>
  {% if operation.photo %}
    <div class="operation-photo">
      <img src="{{ operation.photo.url }}" alt="{% trans 'Operation Photo' %}">
    </div>
  {% endif %}
  <div class="details">
    <p><strong>{% trans "Number:" %}</strong> {{ operation.number }}</p>
    <p><strong>{% trans "Payment:" %}</strong> {{ operation.payment }}</p>
    <p><strong>{% trans "Equipment:" %}</strong> {{ operation.equipment }}</p>
    <p><strong>{% trans "Node:" %}</strong> {{ operation.node }}</p>
    <p><strong>{% trans "Preferred Completion Time:" %}</strong> {{ operation.preferred_completion_time }} {% trans "seconds" %}</p>
    <p>
      <strong>{% trans "Average Completion Time:" %}</strong> {{ operation.average_completion_time }} {% trans "seconds" %}
      <a href="{% url 'calculate_average' operation.pk %}" class="btn calculate-btn">{% trans "Calculate Average" %}</a>
    </p>
    {% if operation.original_operation %}
      <p><strong>{% trans "Original Operation:" %}</strong> <a href="{% url 'operation_detail' operation.original_operation.pk %}">{{ operation.original_operation.number }} - {{ operation.original_operation.node.name }} - {{ operation.original_operation.name }}</a></p>
    {% else %}
      <p><strong>{% trans "Derived Operations:" %}</strong>
        {% if operation.copied_operations.all %}
          <ul class="list-group" id="operationsList">
          {% for derived_op in operation.copied_operations.all %}
            <li class="list-group-item"><a href="{% url 'operation_detail' derived_op.pk %}">{{ derived_op }}</a></li>
          {% endfor %}
          </ul>
        {% else %}
          {% trans "No derived operations." %}
        {% endif %}
      </p>
    {% endif %}
    {% if operation.employee %}
      <p><strong>{% trans "Assigned Employee:" %}</strong> {{ operation.employee.employee_id }} - {{ operation.employee.user.get_full_name }}</p>
    {% endif %}
  </div>

  <div class="form-actions">
    <a href="{% url 'operation_edit' operation.pk %}" class="btn edit-btn">{% trans "Edit" %}</a>
    <a href="javascript:;" onclick="confirmDelete()" class="btn delete-btn">{% trans "Delete" %}</a>
    {% comment %} <a href="{% url 'operation_list' %}" class="btn back-btn">{% trans "Back" %}</a> {% endcomment %}
  </div>

  <form id="deleteForm" action="{% url 'operation_delete' operation.pk %}" method="post" style="display:none;">
    {% csrf_token %}
  </form>
</div>

<script>
  function confirmDelete() {
    if (confirm("{% trans 'Are you sure you want to delete this operation?' %}")) {
      document.getElementById('deleteForm').submit();
    }
  }
</script>
{% endblock %}