{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="content-container">
  <div class="tabs">
    <a href="{% url 'operation_list' %}" class="{% if not selected_node %}active{% endif %}">{% trans "All" %}</a>
    {% for node in nodes %}
    <a href="?node={{ node.id }}" class="{% if selected_node|stringformat:"s" == node.id|stringformat:"s" %}active{% endif %}">{% trans node.name %}</a>
    {% endfor %}
  </div>
  <div class="header">
    <h2 class="list-heading">{% trans "Operations" %}</h2>
    <p class="create-link"><a href="{% url 'operation_create' %}" class="btn create-btn">{% trans "Create Operation" %}</a></p>
  </div>

  <ul class="list-group">
    {% for operation in operations %}
      <li class="list-group-item">
        <a href="{% url 'operation_detail' operation.pk %}">
          {{ operation.node }} - {{ operation.equipment }} - {{ operation.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if is_paginated %}
      <ul class="pagination-list">
        {% if page_obj.has_previous %}
          <li><a href="?page=1">&laquo; first</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
        {% endif %}
  
        {% for num in paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
          <li><a href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endblock %}