{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="order-detail-cutter-container">
  <div class="tabs">
    <a href="{% url 'operation_list' %}" class="{% if not selected_node %}active{% endif %}">{% trans "All" %}</a>
    {% for node in nodes %}
    <a href="?node={{ node.id }}" class="{% if selected_node|stringformat:"s" == node.id|stringformat:"s" %}active{% endif %}">{% trans node.name %}</a>
    {% endfor %}
  </div>
  <div class="header">
    <h2 class="list-heading">{% trans "Operations" %}</h2>
    <p class="create-link">
      <a href="{% url 'operation_create' %}" class="btn create-btn">{% trans "Create" %}</a>
      <button id="upload_button" type="button" class="btn create-btn" data-toggle="modal" data-target="#uploadModal">
        {% trans "Upload from Excel" %}
      </button>
      <a href="{% url 'operation_download' %}" class="btn create-btn">{% trans "Download Excel" %}</a>
    </p>
  </div>
  <input type="text" id="searchOperations" placeholder="{% trans 'Search operations by number...' %}" aria-label="Search" style="margin-bottom: 20px; padding: 8px; width: 100%;">
  <div class="modal" id="uploadModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">{% trans "Upload Operations" %}</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal Body -->
        <div class="modal-body">
          <form id="upload_form" action="{% url 'operation_upload' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="excel_file" id="excel_file" required>
          </form>
        </div>
        
        <!-- Modal Footer -->
        <div class="modal-footer justify-content-between">
          <button type="submit" form="upload_form" class="btn create-btn">{% trans "Submit" %}</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">{% trans "Close" %}</button>
        </div>
        
      </div>
    </div>
  </div>
  <ul class="list-group" id="operationsList">
    {% for operation in operations %}
      <li class="list-group-item" data-operation-content="{{ operation.number }} - {{ operation.node.name }} - {{ operation.name|lower }}">
        <a href="{% url 'operation_detail' operation.pk %}">
          {{ operation.number }} - {{ operation.node.name }} - {{ operation.equipment }} - {{ operation.name }}
        </a>
      </li>
    {% endfor %}
  </ul>

  {% if not selected_node %}
  <div class="pagination">
    {% if is_paginated %}
      <ul class="pagination-list">
        {% if page_obj.has_previous %}
          <li><a href="?page=1">&laquo; first</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
        {% endif %}
  
        {% for num in paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
          <li><a href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
  {% endif %}
</div>
<script>
  document.getElementById('searchOperations').addEventListener('input', function(e) {
      const searchTerm = e.target.value.toLowerCase();
      const operations = document.querySelectorAll('#operationsList .list-group-item');
  
      operations.forEach(op => {
          const content = op.getAttribute('data-operation-content').toLowerCase();
          if (content.includes(searchTerm)) {
              op.style.display = '';
          } else {
              op.style.display = 'none';
          }
      });
  });
</script>
{% endblock %}