{% extends "base.html" %}
{% load i18n %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Cutter Dashboard' %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: 10px;">
          {{ request.user.username }}
        </li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
<div class="container maincontr">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <!-- <div class="card"> -->
          <div class="card-header">
            <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Add Size and Quantity for Passport:" %} #{{ passport.order.id }}</h2>
          </div>
          <div class="card-body">
            <form id="sizeQuantityForm" method="post" class="date-filter-form" style="align-items: flex-end;">
                {% csrf_token %}
                <div class="form-group">
                    <label>{% trans "Size:" %}</label>
                    {{ form.size_quantity }}
                </div>
                <div class="form-group">
                    <label>{% trans "Quantity:" %}</label>
                    {{ form.quantity }}
                </div>
                <div class="form-group">
                    <label>{% trans "Roll:" %}</label>
                    {{ form.roll }} <!-- Add this line to include roll selection -->
                </div>
                <button type="submit" class="btn edit-btn mb-2">{% trans "Add" %}</button>
            </form><br>
            <div id="sizeQuantityList" class="size-quantity-list">
                {% for ps in passport_sizes %}
                <li id="sq-{{ ps.id }}" class="size-quantity-item">
                    <span class="detail"><strong>{% trans "Size:" %}</strong> <span class="size" data-sq-id="{{ ps.id }}" contenteditable="false">{{ ps.size_quantity.size }}</span></span>
                    <span class="detail"><strong>{% trans "Quantity:" %}</strong> <span class="quantity" data-sq-id="{{ ps.id }}" contenteditable="false">{{ ps.quantity }}</span></span>
                    <span class="detail"><strong>{% trans "Roll:" %}</strong> <span class="roll" data-sq-id="{{ ps.id }}" contenteditable="false">{{ ps.roll }}</span></span>
                    <button class="edit-btn" data-sq-id="{{ ps.id }}">{% trans "Edit" %}</button>
                    <button class="delete-btn" data-sq-id="{{ ps.id }}">{% trans "Delete" %}</button>
                </li>
                {% endfor %}
            </div>
            <div class="form-actions">
                <a href="{% url 'passport_detail' passport.id %}" class="btn create-btn">{% trans "Save" %}</a>
                <a href="{% url 'create_passport_roll' passport.id %}" class="btn back-btn">{% trans "Back" %}</a>
            </div>
          </div>
        <!-- </div> -->
      </div>
                <div class="modal" id="deleteModal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeBtn">&times;</span>
        <p>Are you sure you want to delete this Size and Quantity?</p>
        <div class="modal-buttons">
            <button class="btn confirm" id="confirmDeleteBtn">Confirm</button>
            <button class="btn cancel" id="cancelBtn">Cancel</button>
        </div>
    </div>
</div>

    <div class="modal" id="messageModal">
    <div class="modal-content">
        <span class="close" id="closeMessageBtn">&times;</span>
        <p id="messageModalContent"></p>
    </div>
</div>
    </div>
  </div>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const sizeQuantityList = document.getElementById('sizeQuantityList');
        sizeQuantityList.addEventListener('click', function(e) {
            if (e.target.classList.contains('edit-btn')) {
                handleEdit(e.target);
            } else if (e.target.classList.contains('delete-btn')) {
                handleDelete(e.target);
            }
        });
    
        function handleEdit(button) {
            let sqId = button.getAttribute("data-sq-id");
            let parentLi = document.querySelector(`#sq-${sqId}`);
            let quantitySpan = parentLi.querySelector(".quantity");
    
            if (!quantitySpan.isContentEditable) {
                quantitySpan.contentEditable = "true";
                quantitySpan.focus();
                button.textContent = '{% trans "Save" %}';
            } else {
                quantitySpan.contentEditable = "false";
                button.textContent = '{% trans "Edit" %}';
                const updatedQuantity = quantitySpan.textContent;
                updateSizeQuantity(sqId, updatedQuantity);
            }
        }
    
        function updateSizeQuantity(sqId, quantity) {
            fetch(`/production/cutter/orders/passport/${sqId}/edit_size_quantity/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ quantity: quantity })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Успешное обновление');
                } else {
                    alert('Не получилось обновить');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function handleDelete(button) {
            const sqId = button.getAttribute("data-sq-id");
            const confirmDelete = confirm('{% trans "Are you sure you want to delete this item?" %}');
            if (confirmDelete) {
                fetch(`/production/cutter/orders/passport/${sqId}/delete_size_quantity/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => {
                    if (response.ok) {
                        const parentLi = document.getElementById(`sq-${sqId}`);
                        if (parentLi) {
                            parentLi.remove();
                        }
                        alert('Успешное удаление');
                    } else {
                        alert('Не получилось удалить');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script> -->
<script>
document.addEventListener("DOMContentLoaded", function() {
    const sizeQuantityList = document.getElementById('sizeQuantityList');
    const modal = document.getElementById('deleteModal');
    const closeModal = document.getElementById('closeBtn');

    const messageModal = document.getElementById('messageModal');
    const messageModalContent = document.getElementById('messageModalContent');
    const closeMessageModal = document.getElementById('closeMessageBtn');

    const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
    const cancelBtn = document.getElementById('cancelBtn');
    let sqIdToDelete = null;

    sizeQuantityList.addEventListener('click', function(e) {
        if (e.target.classList.contains('edit-btn')) {
            handleEdit(e.target);
        } else if (e.target.classList.contains('delete-btn')) {
            handleDelete(e.target);
        }
    });

    function handleEdit(button) {
        let sqId = button.getAttribute("data-sq-id");
        let parentLi = document.querySelector(`#sq-${sqId}`);
        let quantitySpan = parentLi.querySelector(".quantity");

        if (!quantitySpan.isContentEditable) {
            quantitySpan.contentEditable = "true";
            quantitySpan.focus();
            button.textContent = '{% trans "Save" %}';
        } else {
            quantitySpan.contentEditable = "false";
            button.textContent = '{% trans "Edit" %}';
            const updatedQuantity = quantitySpan.textContent;
            updateSizeQuantity(sqId, updatedQuantity);
        }
    }

    function updateSizeQuantity(sqId, quantity) {
        fetch(`/production/cutter/orders/passport/${sqId}/edit_size_quantity/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCookie('csrftoken'),
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ quantity: quantity })
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'success') {
                showMessageModal('Успешное обновление');
            } else {
                showMessageModal('Не получилось обновить');
            }
        })
        .catch(error => console.error('Error:', error));
    }

    function handleDelete(button) {
        sqIdToDelete = button.getAttribute("data-sq-id");
        modal.style.display = 'flex';
    }

    confirmDeleteBtn.addEventListener('click', function() {
        if (sqIdToDelete) {
            confirmDeleteBtn.disabled = true;
            fetch(`/production/cutter/orders/passport/${sqIdToDelete}/delete_size_quantity/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                }
            })
            .then(response => {
                if (response.ok) {
                    const parentLi = document.getElementById(`sq-${sqIdToDelete}`);
                    if (parentLi) {
                        parentLi.remove();
                    }
                    showMessageModal('Успешное удаление');
                } else {
                    showMessageModal('Не получилось удалить');
                }
                modal.style.display = 'none';
                confirmDeleteBtn.disabled = false;
            })
            .catch(error => {
                console.error('Error:', error);
                modal.style.display = 'none';
                confirmDeleteBtn.disabled = false;
            });
        }
    });

    cancelBtn.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    closeModal.addEventListener('click', function() {
        modal.style.display = 'none';
    });

    closeMessageModal.addEventListener('click', function() {
        messageModal.style.display = 'none';
    });

    window.addEventListener('click', function(event) {
        if (event.target == modal) {
            modal.style.display = 'none';
        } else if (event.target == messageModal) {
            messageModal.style.display = 'none';
        }
    });

    function showMessageModal(message) {
        messageModalContent.textContent = message;
        messageModal.style.display = 'flex';
    }

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
});

</script>
{% endblock %}
