{% extends "base.html" %}
{% load i18n %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont" >{% trans 'Cutter Dashboard' %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: 10px;">
          {{ request.user.username }}
        </li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
<div class="container maincontr">
    <div class="row justify-content-center">
      <div class="col-md-12">
        <!-- <div class="card"> -->
          <div class="card-header">
            <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Add Roll and Meters for Passport:" %} #{{ passport.order.id }}</h2>
          </div>
          <div class="card-body">
            <form id="rollMetersForm" method="post" class="date-filter-form" style="align-items: flex-end;">
                {% csrf_token %}
                <div class="form-group">
                    <label>{% trans "Roll:" %}</label>
                    {{ form.roll }}
                </div>
                <div class="form-group">
                    <label>{% trans "Meters:" %}</label>
                    {{ form.meters }}
                </div>
                <button type="submit" class="btn edit-btn mb-2">{% trans "Add" %}</button>
            </form><br>
            <div id="rollMetersList" class="roll-meters-list">
                {% for pr in passport_rolls %}
                <li id="rm-{{ pr.id }}" class="roll-meters-item" style="padding:15px; border-radius:0px; margin-bottom: 0px;">
                    <span class="detail"><strong>{% trans "Roll:" %}</strong> <span class="roll" data-pr-id="{{ pr.id }}" contenteditable="false">{{ pr.roll.name }}</span></span>
                    <span class="detail"><strong>{% trans "Meters:" %}</strong> <span class="meters" data-pr-id="{{ pr.id }}" contenteditable="false">{{ pr.meters }}</span></span>
                    <button class="edit-btn" data-rm-id="{{ pr.id }}">{% trans "Edit" %}</button>
                    <button class="delete-btn" data-rm-id="{{ pr.id }}">{% trans "Delete" %}</button>
                </li>
                {% endfor %}
            </div>
            <div class="form-actions">
                <a href="{% url 'create_passport_size' passport.id %}" class="btn create-btn">{% trans "Save" %}</a>
                <a href="{% url 'passport_detail' passport.pk %}" class="btn back-btn">{% trans "Back" %}</a>
            </div>
          </div>
        <!-- </div> -->
      </div>
        <div class="modal" id="deleteModal" style="display: none;">
    <div class="modal-content">
        <span class="close" id="closeBtn">&times;</span>
        <p>Are you sure you want to delete this Responsibility?</p>
        <div class="modal-buttons">
            <button class="btn confirm" id="confirmDeleteBtn">Confirm</button>
            <button class="btn cancel" id="cancelBtn">Cancel</button>
        </div>
    </div>
</div>

    <div class="modal" id="messageModal">
    <div class="modal-content">
        <span class="close" id="closeMessageBtn">&times;</span>
        <p id="messageModalContent"></p>
    </div>
</div>
    </div>
  </div>
<!-- <script>
    document.addEventListener("DOMContentLoaded", function() {
        const rollMetersList = document.getElementById('rollMetersList');
        rollMetersList.addEventListener('click', function(e) {
            if (e.target.classList.contains('edit-btn')) {
                handleEdit(e.target);
            } else if (e.target.classList.contains('delete-btn')) {
                handleDelete(e.target);
            }
        });
    
        function handleEdit(button) {
            let prId = button.getAttribute("data-rm-id");
            let parentLi = document.querySelector(`#rm-${prId}`);
            let metersSpan = parentLi.querySelector(".meters");
            if (!metersSpan.isContentEditable) {
                metersSpan.contentEditable = "true";
                metersSpan.focus();
                button.textContent = '{% trans "Save" %}';
            } else {
                metersSpan.contentEditable = "false";
                button.textContent = '{% trans "Edit" %}';
                const updatedMeters = metersSpan.textContent;
                updateRollMeters(prId, updatedMeters);
            }
        }
    
        function updateRollMeters(prId, meters) {
            fetch(`/production/cutter/orders/passport/${prId}/edit_passport_roll/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ meters: meters })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    alert('Успешное обновление');
                } else {
                    alert('Не получилось обновить');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function handleDelete(button) {
            const prId = button.getAttribute("data-rm-id");
            const confirmDelete = confirm('{% trans "Are you sure you want to delete this item?" %}');
            if (confirmDelete) {
                fetch(`/production/cutter/orders/passport/${prId}/delete_passport_roll/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => {
                    if (response.ok) {
                        const parentLi = document.getElementById(`rm-${prId}`);
                        if (parentLi) {
                            parentLi.remove();
                        }
                        alert('Успешное удаление');
                    } else {
                        alert('Не получилось удалить');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script> -->

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const responsibilityErrorList = document.getElementById('rollMetersList');
        const modal = document.getElementById('deleteModal');
        const closeModal = document.getElementById('closeBtn');

    // const deleteModal = document.getElementById('deleteModal');
    const messageModal = document.getElementById('messageModal');
    const messageModalContent = document.getElementById('messageModalContent');
    const closeMessageModal = document.getElementById('closeMessageBtn');

      
        const confirmDeleteBtn = document.getElementById('confirmDeleteBtn');
        const cancelBtn = document.getElementById('cancelBtn');
        let prIdToDelete = null;


    
        responsibilityErrorList.addEventListener('click', function(e) {
            if (e.target.classList.contains('edit-btn')) {
                handleEdit(e.target);
            } else if (e.target.classList.contains('delete-btn')) {
                handleDelete(e.target);
            }
        });
    
        function handleEdit(button) {
            let prId = button.getAttribute("data-rm-id");
            let parentLi = document.querySelector(`#rm-${prId}`);
            let percentageSpan = parentLi.querySelector(".percentage");
            if (!percentageSpan.isContentEditable) {
                percentageSpan.contentEditable = "true";
                percentageSpan.focus();
                button.textContent = '{% trans "Save" %}';
            } else {
                percentageSpan.contentEditable = "false";
                button.textContent = '{% trans "Edit" %}';
                const percentage = percentageSpan.textContent;
                updatePercentage(prId, percentage);
            }
        }
    
        function updatePercentage(prId, percentage) {
            fetch(`/production/admin/orders/errors/${prId}/edit_percentage/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ percentage: percentage })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                                  showMessageModal('Успешное обновление');

                    // alert('Успешное обновление');
                } else {
                    // alert('Не получилось обновить');
                                  showMessageModal('Не получилось обновить');

                }
            })
            .catch(error => console.error('Error:', error));
        }
    
        function handleDelete(button) {
            prIdToDelete = button.getAttribute("data-rm-id");
            modal.style.display = 'flex';
        }
    
        confirmDeleteBtn.addEventListener('click', function() {
            if (prIdToDelete) {
                confirmDeleteBtn.disabled = true;
                fetch(`/production/admin/orders/errors/${prIdToDelete}/delete_percentage/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => {
                    if (response.ok) {
                        const parentLi = document.getElementById(`rm-${prIdToDelete}`);
                        if (parentLi) {
                            parentLi.remove();
                        }
                        // alert('Успешное удаление');
                                      showMessageModal('Успешное обновление');

                    } else {
                        // alert('Не получилось удалить');
                                      showMessageModal('Не получилось обновить');

                    }
                    modal.style.display = 'none';
                    confirmDeleteBtn.disabled = false;
                })
                .catch(error => {
                    console.error('Error:', error);
                    modal.style.display = 'none';
                    confirmDeleteBtn.disabled = false;
                });
            }
        });
    
        cancelBtn.addEventListener('click', function() {
            modal.style.display = 'none';
        });
    
        closeModal.addEventListener('click', function() {
            modal.style.display = 'none';
        });
          closeMessageModal.addEventListener('click', function() {
        messageModal.style.display = 'none';
    });
    
        window.addEventListener('click', function(event) {
            if (event.target == modal) {
                modal.style.display = 'none';
                  } else if (event.target == messageModal) {
            messageModal.style.display = 'none';
        }

        });

          function showMessageModal(message) {
        messageModalContent.textContent = message;
        messageModal.style.display = 'flex';
    }

    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
    </script>

{% endblock %}
