{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Cutter Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">  
  <div class="container">
    <!-- <div class="card"> -->
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
            №{{ passport }} 
            </div>
            {% comment %} <div class="col-md-3" >
            <!-- <div class="col-md-6 text-center"> -->
              <a href="{% url 'barcode_passport' passport.id %}" class="btn btn-primary btn edit-btn" style="background-color: white; color: #007bff;">{% trans "QR Code" %}</a>
            </div> {% endcomment %}
          </div>
        </div>
          <div class="card-body">
              <div class="row">
                <div class="col-md-6 details">
                  <p><strong>{% trans "Date:" %}</strong> {{ passport.cut.date }}</p>
                  <p><strong>{% trans "Order:" %}</strong> {{ passport.cut.order.client_order }}</p>
                  <p><strong>{% trans "Model:" %}</strong> {{ passport.cut.order.model }}</p>
                  <p>
                    <strong>{% trans "Color:" %}</strong>
                    {% if passport.passport_sizes.all %}
                      {% with ps=passport.passport_sizes.all.0 %}
                        {{ ps.size_quantity.color }}
                      {% endwith %}
                    {% else %}
                      -
                    {% endif %}
                  </p>
                  <p>
                    <strong>{% trans "Fabrics:" %}</strong>
                    {% if passport.passport_sizes.all %}
                      {% with ps=passport.passport_sizes.all.0 %}
                        {{ ps.size_quantity.fabrics }}
                      {% endwith %}
                    {% else %}
                      -
                    {% endif %}
                  </p>
                  <p><strong>{% trans "Layers:" %}</strong> {{ passport.layers }}</p>
                </div>                
                  <div class="col-md-5 text-center">
                      <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="container-fluid bottomContainer">
            <h3>{% trans "Sizes Used" %}</h3>
            <table class="table">
              <tr>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Actions" %}</th>
              </tr>
              {% for size in passport_sizes %}
              <tr>
                <td>
                  {% if size.extra %} {{ size.size_quantity.size }} - {{ size.extra }} {% else %} {{ size.size_quantity.size }} {% endif %}
                </td>
                <td>
                  {{ size.quantity }}
                </td>
                <td>
                  <a href="{% url 'barcode_passport_size_per_piece' size.id %}" class="btn btn-sm btn-primary">
                    {% trans "Download QR" %}
                  </a>
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">{% trans "No sizes available." %}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
    </div>
</div>
{% endblock %}
