{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Cutter Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">  
  <div class="container">
    <!-- <div class="card"> -->
        <div class="card-header">
          <div class="row">
            <div class="col-md-9">
            {% trans "Passport Details" %} №{{ passport }} 
            </div>
            {% comment %} <div class="col-md-3" >
            <!-- <div class="col-md-6 text-center"> -->
              <a href="{% url 'barcode_passport' passport.id %}" class="btn btn-primary btn edit-btn" style="background-color: white; color: #007bff;">{% trans "QR Code" %}</a>
            </div> {% endcomment %}
          </div>
        </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 details">
                    <p><strong>{% trans "Date:" %}</strong> {{ passport.cut.date }}</p>
                    <p><strong>{% trans "Order:" %}</strong> {{ passport.cut.order.client_order }}</p>
                    <p><strong>{% trans "Model:" %}</strong> {{ passport.cut.order.model }}</p>
                    <p><strong>{% trans "Color:" %}</strong> {% if passport.roll %}{{ passport.roll.color }}{% else %}{{ passport.cut.order.colors.first }}{% endif %}</p>
                    <p><strong>{% trans "Fabrics:" %}</strong> {% if passport.roll %}{{ passport.roll.fabrics }}{% else %}{{ passport.cut.order.fabrics.first }}{% endif %}</p>
                    <p><strong>{% trans "Roll:" %}</strong> {{ passport.roll }}</p>
                    <p><strong>{% trans "Meters:" %}</strong> {{ passport.meters }}</p>
                    <p><strong>{% trans "Layers:" %}</strong> {{ passport.layers }}</p>
                  </div>
                  <div class="col-md-5 text-center">
                      <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="container-fluid bottomContainer">
            <h3>{% trans "Sizes Used" %}</h3>
            <table class="table">
              <tr>
                <th>{% trans "Size" %}</th>
                <th>{% trans "Quantity" %}</th>
                <th>{% trans "Stage" %}</th>
              </tr>
              {% for size in passport_sizes %}
              <tr>
                <td>
                  <a href="{% url 'barcode_passport_size' size.id %}" style="display: block; width: 100%; height: 100%;">{% if size.extra %} {{ size.size_quantity.size }} - {{ size.extra }} {% else %} {{ size.size_quantity.size }} {% endif %}</a>
                </td>
                <td>
                  <a href="{% url 'barcode_passport_size_per_piece' size.id %}" style="display: block; width: 100%; height: 100%;">{{ size.quantity }}</a>
                </td>
                <td>
                  {% if size.stage == 0 %}
                  <button type="button" class="stage-cutting-button btn edit-btn" data-passport-size-id="{{ size.id }}" onclick="handleStageChange(event, this)">Резка</button>
                  {% elif size.stage == 1 %}
                  <button type="button" class="stage-cutting-button btn success-btn" data-passport-size-id="{{ size.id }}" onclick="handleStageChange(event, this)">Шитье</button>
                  {% else %}
                  <button type="button" class="stage-cutting-button btn back-btn" data-passport-size-id="{{ size.id }}" disabled>
                    {% if size.stage == 2 %}ОТК
                    {% elif size.stage == 3 %}Упаковка
                    {% else %}Готово
                    {% endif %}
                  </button>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="3">{% trans "No sizes available." %}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
    </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var buttons = document.querySelectorAll('.stage-cutting-button');
    buttons.forEach(function(button) {
      button.addEventListener('click', function() { // Changed to 'click' event for buttons
        var passportSizeId = this.dataset.passportSizeId; // Access data attribute from button
        if (passportSizeId) {
          fetch(`/production/cutter/orders/mark-as-sewing/${passportSizeId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': getCookie('csrftoken')
            },
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              window.location.reload();
            } else {
              alert('Не получилось обновить');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    });
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  });
</script>
{% endblock %}
