{% extends "base.html" %}
{% load i18n %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Admin Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">
  <div class="row justify-content-center" >
    <div class="col-md-12">
      <!-- <div class="card"> -->
        <div class="card-header">
          <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Add Size and Quantity for Order:" %} {{ order.id }}</h2>
        </div>
        <div class="card-body">
          <form id="sizeQuantityForm" method="post" class="date-filter-form" style="align-items: flex-end;">
            {% csrf_token %}
            <div class="form-group">
              <label>{% trans "Size:" %}</label>
              {{ form.size }}
            </div>
            <div class="form-group">
              <label>{% trans "Quantity:" %}</label>
              {{ form.quantity }}
            </div>
            <div class="form-group">
              <label>{% trans "Color:" %}</label>
              {{ form.color }}
            </div>
            <button type="submit" class="btn edit-btn mb-2">{% trans "Add" %}</button>
          </form><br>
          <div id="sizeQuantityList" class="size-quantity-list">
            {% for sq in size_quantities %}
              <li id="sq-{{ sq.id }}" class="size-quantity-item">
                <span class="detail"><strong>{% trans "Size:" %}</strong> <span class="size" data-sq-id="{{ sq.id }}">{{ sq.size }}</span></span>
                <span class="detail"><strong>{% trans "Quantity:" %}</strong> <span class="quantity" data-sq-id="{{ sq.id }}">{{ sq.quantity }}</span></span>
                <span class="detail"><strong>{% trans "Color:" %}</strong> <span class="color" data-sq-id="{{ sq.id }}">{{ sq.color }}</span></span>
                <button class="edit-btn" data-sq-id="{{ sq.id }}">{% trans "Edit" %}</button>
                <button class="delete-btn" data-sq-id="{{ sq.id }}">{% trans "Delete" %}</button>
              </li>
            {% endfor %}
            </div>
          <div class="form-actions">
            <a href="{% url 'client_order_detail' order.client_order.pk %}" class="btn create-btn">{% trans "Finish" %}</a>
          </div>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>

<script>
  var orderId = "{{ order.id }}";
  var deleteText = "{% trans 'Delete' %}";
  var editText = "{% trans 'Edit' %}";
  var saveText = "{% trans 'Save' %}";
  var confirmDeleteText = "{% trans 'Are you sure you want to delete this item?' %}";
  var sizeText = "{% trans 'Size:' %}";
  var quantityText = "{% trans 'Quantity:' %}";
  var colorText = "{% trans 'Color:' %}";
</script>

{% verbatim %}
<script>
document.addEventListener("DOMContentLoaded", function() {
  const form = document.getElementById('sizeQuantityForm');
  
  form.addEventListener('submit', function(e) {
    e.preventDefault();
    const formData = new FormData(form);
    const actionUrl = `/production/admin/orders/${orderId}/create_size_quantity/`;  
    
    fetch(actionUrl, {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
        'X-Requested-With': 'XMLHttpRequest'
      },
      body: formData
    })
    .then(response => response.json())
    .then(data => {
      if (data.success) {
        updateSizeQuantityList(data.sizeQuantities);
        form.reset();  // Clear the form inputs after successful submission
      } else {
        console.error('Submission failed', data.errors);
        alert('Не получилось обновить');
      }
    })
    .catch(error => console.error('There has been a problem with your fetch operation:', error));
  });

  document.getElementById('sizeQuantityList').addEventListener('click', function(e) {
    if (e.target.classList.contains('edit-btn')) {
      handleEdit(e.target);
    } else if (e.target.classList.contains('delete-btn')) {
      handleDelete(e.target);
    }
  });

  function handleEdit(button) {
    let sqId = button.getAttribute("data-sq-id");
    let parentLi = document.querySelector(`#sq-${sqId}`);
    let sizeSpan = parentLi.querySelector(".size");
    let quantitySpan = parentLi.querySelector(".quantity");

    if (!sizeSpan.isContentEditable) {
      sizeSpan.contentEditable = "true";
      quantitySpan.contentEditable = "true";
      sizeSpan.focus();
      button.textContent = saveText;
    } else {
      sizeSpan.contentEditable = "false";
      quantitySpan.contentEditable = "false";
      button.textContent = editText;
      let updatedSize = sizeSpan.textContent;
      let updatedQuantity = quantitySpan.textContent;
      updateSizeQuantity(sqId, updatedSize, updatedQuantity);
    }
  }

  function handleDelete(button) {
    let sqId = button.getAttribute("data-sq-id");
    if (confirm(confirmDeleteText)) {
      deleteSizeQuantity(sqId);
    }
  }

  function updateSizeQuantity(sqId, size, quantity, color) {  // Add color parameter
    fetch(`/production/admin/orders/edit-size-quantity/${sqId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({ size: size, quantity: quantity, color: color })  // Include color in the payload
    })
    .then(response => {
        if (response.ok) {
            let sizeSpan = document.querySelector(`.size[data-sq-id="${sqId}"]`);
            let quantitySpan = document.querySelector(`.quantity[data-sq-id="${sqId}"]`);
            let colorSpan = document.querySelector(`.color[data-sq-id="${sqId}"]`);  // Add this line
            sizeSpan.textContent = size;
            quantitySpan.textContent = quantity;
            colorSpan.textContent = color;  // Update color display
        } else {
            alert('Не получилось обновить');
        }
    });
  }

  
  function deleteSizeQuantity(sqId) {
    fetch(`/production/admin/orders/delete-size-quantity/${sqId}/`, {
      method: 'POST',
      headers: {
        'X-CSRFToken': getCookie('csrftoken'),
      }
    })
    .then(response => {
      if (response.ok) {
        // Remove the size and quantity element without reloading
        let parentLi = document.querySelector(`#sq-${sqId}`);
        if (parentLi) {
          parentLi.remove();
        }
      } else {
        alert('Не получилось удалить');
      }
    });
  }

  function updateSizeQuantityList(sizeQuantities) {
    const list = document.getElementById('sizeQuantityList');
    list.innerHTML = ''; // Clear existing list
    sizeQuantities.forEach(sq => {
        const li = document.createElement('li');
        li.setAttribute('id', 'sq-' + sq.id);
        li.classList.add('size-quantity-item');

        const sizeSpan = document.createElement('span');
        sizeSpan.classList.add('size');
        sizeSpan.setAttribute('data-sq-id', sq.id);
        sizeSpan.textContent = sq.size;

        const quantitySpan = document.createElement('span');
        quantitySpan.classList.add('quantity');
        quantitySpan.setAttribute('data-sq-id', sq.id);
        quantitySpan.textContent = sq.quantity;

        // Assuming you have access to the color name in the object
        const colorSpan = document.createElement('span');
        colorSpan.classList.add('color');
        colorSpan.setAttribute('data-sq-id', sq.id);
        colorSpan.textContent = sq.color ? sq.color.name : 'No Color';  // Display the color name or a default text

        const editBtn = document.createElement('button');
        editBtn.classList.add('edit-btn');
        editBtn.setAttribute('data-sq-id', sq.id);
        editBtn.textContent = editText;

        const deleteBtn = document.createElement('button');
        deleteBtn.classList.add('delete-btn');
        deleteBtn.setAttribute('data-sq-id', sq.id);
        deleteBtn.textContent = deleteText;

        const sizeTextEl = document.createElement('strong');
        sizeTextEl.textContent = sizeText;

        const quantityTextEl = document.createElement('strong');
        quantityTextEl.textContent = quantityText;

        const colorTextEl = document.createElement('strong');
        colorTextEl.textContent = colorText;

        li.appendChild(sizeTextEl);
        li.appendChild(sizeSpan);
        li.appendChild(quantityTextEl);
        li.appendChild(quantitySpan);
        li.appendChild(colorTextEl);
        li.appendChild(colorSpan);
        li.appendChild(editBtn);
        li.appendChild(deleteBtn);

        list.appendChild(li);
    });
  }
  
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
});
</script>
{% endverbatim %}
{% endblock %}
