{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="content-container">
  <h2 class="form-heading">{% trans "Create New Task" %}</h2>
  <form method="post" class="crud-form">
    {% csrf_token %}
    <div class="form-group">
      {{ form.as_p }}
    </div>
    <div class="form-actions">
      <button type="submit" class="btn create-btn">{% trans "Save" %}</button>
      <a href="{% url 'client_order_detail' client_order_pk  %}" class="btn back-btn">{% trans "Back" %}</a>
    </div>
  </form>
</div>
{% endblock %}