{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load static %}

  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont" >{% trans "Employee" %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: 10px;">
          {{ request.user.username }}
        </li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container maincontr">
        <!-- <div class="card"> -->
            <div class="card-header">
              {% trans "Employee Details:" %} {{ employee.employee_id }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 details">
                        <p><strong>{% trans "Employee ID:" %}</strong> {{ employee.employee_id }}</p>
                        <p><strong>{% trans "Full Name:" %}</strong> {{ employee.user.get_full_name }}</p>
                        <p><strong>{% trans "Username:" %}</strong> {{ employee.user.username }}</p>
                        <p><strong>{% trans "Type:" %}</strong> {{ employee.get_type_display }}</p>
                        <p><strong>{% trans "Station:" %}</strong> {{ employee.get_station_display }}</p>
                        <a href="{% url 'employee_edit' employee.pk %}"><img src="{% static 'img/compose.png' %}" alt="" class="editimg"></a>
                        <a href="javascript:void(0);" id="deleteBtn"><img src="{% static 'img/trash.png' %}" alt="" class="deleteimg"></a>
                    </div>
                  <form id="deleteForm" action="{% url 'employee_delete' employee.pk %}" method="post" style="display:none;">
                    {% csrf_token %}
                </form>
                <div class="modal" id="deleteModal">
                  <div class="modal-content">
                      <span class="close" id="closeBtn">&times;</span>
                      <p>{% trans "Are you sure you want to delete this Emplyees?" %}</p>
                      <div class="modal-buttons">
                          <button class="btn confirm" id="confirmDeleteBtn">{% trans "Confirm" %}</button>
                          <button class="btn cancel" id="cancelBtn">{% trans "Cancel" %}</button>
                      </div>
                  </div>
              </div>
                    <div class="col-md-5 text-center">
                        <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
<script>
  document.getElementById('deleteBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'flex';
  };

  document.getElementById('closeBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'none';
  };

  document.getElementById('cancelBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'none';
  };

  document.getElementById('confirmDeleteBtn').onclick = function() {
      document.getElementById('deleteForm').submit();
  };
</script>















{% endblock %}
