{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
<button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
<i class="fas fa-bars"></i>
</button>
<h4 style="color: #232323; margin:auto;" class="navfont" >{% trans "Scan" %}</h4>
<div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
<ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
  <li class="nav-item dropdown" style="margin: 10px;">
    {{ request.user.username }}
  </li>
  <li class="nav-item dropdown">
    <form action="{% url 'logout' %}" method="post">
      {% csrf_token %}
        <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
    </form>
  </li>
</ul>
</div>
</nav>
<div class="container clients-wrapper maincontr">
      <div class="clients-header">
        <span class="operation-text">{% trans "Scanned Items" %}</span>
        <input type="text" id="barcode-input" autofocus style="padding: 8px;" placeholder="Ручной ввод"/>
      </div>
      <ul class="clients-list" id="scanned-items-list">
      </ul>
</div>
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true" data-backdrop="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="errorModalLabel">Ошибка</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="errorModalMessage">
        <!-- Error message will be displayed here -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var barcodeInput = document.getElementById('barcode-input');

    barcodeInput.addEventListener('change', function() {
      var barcode = barcodeInput.value.trim();
      if (barcode) {
        let ids = barcode.split('-');
        let pieceId = ids[ids.length - 1];  // Get the piece ID from barcode

        fetch(`/production/packer/orders/update-piece-status/${pieceId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({stage: 'Packed'})
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            var listItem = document.createElement('li');
            listItem.className = 'list-group-item';
            listItem.style.padding = '18px';
            var link = document.createElement('a');
            link.href = `/production/packer/orders/${data.passport_id}/passport/`; // Use the passport ID from data.passport
            link.textContent = `${data.piece_number} (ед) - ${data.passport_number} (пс) - ${data.cut} (кр) - ${data.model} - ${data.color} - ${data.fabrics} - ${data.size} (размер) - ${data.stage}`;
            link.style.textDecoration = 'none'; // Optional: Remove underline
            link.setAttribute('target', '_blank');

            // Append link to list item
            listItem.appendChild(link);
            document.getElementById('scanned-items-list').appendChild(listItem);
          } else {
            document.getElementById('errorModalMessage').textContent = data.message;
            $('#errorModal').modal('show');
          }
        })
        .catch(error => {
          console.error('Error updating piece:', error);
          document.getElementById('errorModalMessage').textContent = 'An unexpected error occurred.';
          $('#errorModal').modal('show');
        });
      }
      barcodeInput.value = ''; // Clear the input
      barcodeInput.focus();   // Refocus the input
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
</script> 
{% endblock %}
