{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}

{% block content %}

<style>
  .dataformset {
    flex-wrap: nowrap;
  }
  @media (max-width: 768px) {
    .filter-header form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
    .filter-header label, .filter-header input, .filter-header button {
      width: 100%;
      margin-bottom: 10px;
    }
    .table-responsive {
      overflow-x: auto;
    }
    .dataformset{
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
</style>
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans "Employee Dashboard" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
  <div class="container clients-wrapper maincontr">
      <div class="clients-container">
        <span class="operation-text">{% trans "Completed Jobs" %}</span>
          <br>
          <div class="clients-header">

            <form method="get" action="" class="date-filter-form dataformset" >
              <label for="start_date">{% trans "Start Date" %}:</label>
              <input type="date" id="start_date" name="start_date" class="form-control" value="{{ start_date }}">
        
              <label for="end_date">{% trans "End Date" %}:</label>
              <input type="date" id="end_date" name="end_date" class="form-control"value="{{ end_date }}">
        
              <button type="submit" class="btn filter-btn">{% trans "Search" %}</button>
            </form>
            </div>

            {% if assigned_works %}
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th>{% trans "Operation" %}</th>
                    <th>{% trans "Size" %}</th>
                    <th>{% trans "Quantity" %}</th>
                    <th>{% trans "Completed At" %}</th>
                    <th>{% trans "Verified" %}</th>
                    <th>{% trans "Completion Time" %}</th>
                  </tr>
                </thead>
                <tbody>
                  {% for assigned_work in assigned_works %}
                  <tr>
                    <td>{{ assigned_work.work.operation.name }} ({{ assigned_work.work.operation.number }})</td>
                    <td>{{ assigned_work.work.passport_size.size_quantity.size }}</td>
                    <td>{{ assigned_work.quantity }}</td>
                    <td>{{ assigned_work.end_time|date:"Y-m-d H:i:s" }}</td>
                    <td>{% if assigned_work.is_success %}{% trans "Yes" %}{% else %}{% trans "No" %}{% endif %}</td>
                    <td>{{ assigned_work.start_time|duration:assigned_work.end_time }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            {% else %}

          <div class="list-group" >
            <a class="list-group-item list-group-item-action" style="border: 1px solid #ced4da; border-radius: 0px;">
              {% trans "No completed jobs found within the selected period." %}
              </a>
        </div>
            {% endif %}
            </div>

</div>

{% endblock %}
