{% extends "base.html" %}
{% load custom_filters %}
{% load i18n %}
{% load static %}
{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; ">{% trans "Employee" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

  <div class="container maincontr">
  <div class="d-flex justify-content-end mb-3 ">
    {% if client_order.status != client_order.COMPLETED %}
    <form action="{% url 'client_order_complete' client_order.pk %}" method="post" class="complete-order-form">
      {% csrf_token %}
      <button type="submit" class="btn btn-success">{% trans "Complete" %}</button>
    </form>
  {% endif %}
  </div>
  
  <div class="container">
    <!-- <div class="card"> -->
          <div class="card-header">
            {% trans "Client Order Details:" %} {{ client_order.order_number }}
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 details">
                    <p><strong>{% trans "Client:" %}</strong> {{ client_order.client.name }}</p>
                    <p><strong>{% trans "Term:" %}</strong> {{ client_order.term|date:"Y-m-d" }}</p>
                    <p><strong>{% trans "Days Left:" %}</strong> {{ days_left }}</p>
                    <p><strong>{% trans "Status:" %}</strong> {{ client_order.get_status_display }}</p>
                      <a href="{% url 'client_order_edit' client_order.pk %}"><img src="{% static 'img/compose.png' %}" alt="" class="editimg"></a>
                      <a href="javascript:void(0);" id="deleteBtn" ><img src="{% static 'img/trash.png' %}" alt="" class="deleteimg"></a>
                  </div>
                  <form id="deleteForm" action="{% url 'client_order_delete' client_order.pk %}" method="post" style="display:none;">
                    {% csrf_token %}
                  </form>

                  <div class="col-md-5 text-center">
                      <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
                  </div>
              </div>
          </div>
          <div class="container-fluid bottomContainer">
            <div class="row">
                <div class="col-md-6">
                    <h3>{% trans "Associated Models" %}</h3>
            </div>
            <div class="col-md-6 text-center">
                <a href="{% url 'order_create' client_order.pk %}" class="btn btn-primary">{% trans 'Create New Task' %}</a>
            </div>
            </div><br>
            {% if orders %}
            {% for order in orders %}
            <div class="list-group" >
                <a href="{% url 'order_detail' order.pk %}"
                  class="list-group-item list-group-item-action"
                  style="color: {% if order.status == 2 %}green{% else %}red{% endif %}; border: 1px solid #ced4da; border-radius:0px;">
                  {{ order.model.name }} - {{ order.color }} - {{ order.fabrics }} - {{ order.quantity }} {% trans "pcs" %} ({{ order|size_range }})
                </a>
            </div>

            {% endfor %}
            {% else %}
            <div class="list-group" >
                <a href="#" class="list-group-item list-group-item-action" style="border: 1px solid #ced4da;">
                  {% trans "No associated models." %}
                </a>
            </div>
            {% endif %}
        </div>



          <div class="modal" id="deleteModal">
            <div class="modal-content">
                <span class="close" id="closeBtn">&times;</span>
                <p>{% trans "Are you sure you want to delete this client?" %}</p>
                <div class="modal-buttons">
                    <button class="btn confirm" id="confirmDeleteBtn">Confirm</button>
                    <button class="btn cancel" id="cancelBtn">Cancel</button>
                </div>
            </div>
        </div>
<!-- </div> -->
      </div>
</div>

{% comment %}
  <h3 class="sub-heading" style="margin-top: 20px;">{% trans "Associated Models" %}</h3>
  <div class="orders-list">
    {% if orders %}
      {% for order in orders %}
        <p>
          <a href="{% url 'order_detail' order.pk %}"
            class="order-link"
            style="color: {% if order.status == 2 %}green{% else %}red{% endif %};">
            {{ order.model.name }} - {{ order.color }} - {{ order.fabrics }} - {{ order.quantity }} {% trans "pcs" %} ({{ order|size_range }})
          </a>
        </p>
      {% endfor %}
    {% else %}
      <p>{% trans "No associated models." %}</p>
    {% endif %}
    <div class="create-passport-form" style="margin-top: 20px;">
      <a href="{% url 'order_create' client_order.pk %}" class="btn btn-primary">{% trans 'Create New Task' %}</a>
    </div>
  </div>
{% endcomment %}
  <script>
    document.getElementById('deleteBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'flex';
    };

    document.getElementById('closeBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'none';
    };

    document.getElementById('cancelBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'none';
    };

    document.getElementById('confirmDeleteBtn').onclick = function() {
        document.getElementById('deleteForm').submit();
    };
</script>




{% endblock %}