{% extends "base.html" %}
{% load custom_filters %}
{% load i18n %}

{% block content %}
<div class="order-detail-cutter-container">
  <h2 class="form-heading">{% trans "Model Details:" %} {{ order.model.name }}</h2>

  <div class="details">
    <p><strong>{% trans "Model:" %}</strong> {{ order.model.name }}</p>
    <p><strong>{% trans "Assortment:" %}</strong> {{ order.assortment.name }}</p>
    <p><strong>{% trans "Color:" %}</strong> {{ order.color }}</p>
    <p><strong>{% trans "Fabrics:" %}</strong> {{ order.fabrics }}</p>
    <p><strong>{% trans "Quantity:" %}</strong> {{ order.quantity }}</p>
    <p><strong>{% trans "Completed Quantity:" %}</strong> {{ order.completed_quantity }}</p>
    <p><strong>{% trans "Term:" %}</strong> {{ order.client_order.term|date:"Y-m-d" }}</p>
    <p><strong>{% trans "Days Left:" %}</strong> {{ days_left }}</p>
  </div>

  <div class="form-actions">
    <a href="{% url 'order_list_cutter' %}" class="btn back-btn">{% trans "Back" %}</a>
  </div>

  <h3 class="sub-heading" style="margin-top: 20px;">{% trans "Size Quantities" %}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Size" %}</th>
        {% for passport in passports %}
        <th>№{{ passport.id }}</th>
        {% endfor %}
        <th>{% trans "Sum" %}</th>
        <th>{% trans "Required" %}</th>
        <th>{% trans "Missing" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for size, data in required_missing.items %}
      <tr>
          <td>{{ size }}</td>
          {% for passport in passports %}
          <td>
              {{ size_data|get_item:size|get_item:passport.id|get_item:"quantity"|default_if_none:"0" }}
              {% if size_data|get_item:size|get_item:passport.id|get_item:"quantity" > 0 %}
                  <input type="checkbox" 
                         class="stage-sewing-checkbox" 
                         data-passport-size-id="{{ size_data|get_item:size|get_item:passport.id|get_item:"passport_size_id" }}"
                         {% if size_data|get_item:size|get_item:passport.id|get_item:"stage" == 1 %} checked {% endif %}
                         {% if size_data|get_item:size|get_item:passport.id|get_item:"stage" > 1 %} disabled {% endif %}>
              {% endif %}
          </td>
          {% endfor %}
          <td>{{ total_per_size|get_item:size|default:"0" }}</td>
          <td>{{ data.required }}</td>
          <td>{{ data.missing }}</td>
      </tr>
      {% empty %}
      <tr>
          <td colspan="{{ passports|length|add:4 }}">{% trans "No size quantities available." %}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <h3 class="sub-heading" style="margin-top: 20px;">{% trans "Associated Passports" %}</h3>
  <div class="passports-list">
    {% if passports %}
      {% for passport in passports %}
        <p class="passport-item" style="color: {{ passport.is_completed|yesno:'green,red' }};">
          <a href="{% url 'passport_detail' passport.pk %}" class="passport-link">
            {% trans "Passport ID:" %} {{ passport.pk }}, {% trans "Created on:" %} {{ passport.date|date:"Y-m-d" }}, {% trans "Completed:" %} {{ passport.is_completed|yesno:'Yes,No' }}
          </a>
        </p>
      {% endfor %}
    {% else %}
      <p>{% trans "No associated passports." %}</p>
    {% endif %}
    <div class="create-passport-form">
      <form method="post" action="{% url 'passport_create' order.pk %}">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans "Create New Passport" %}</button>
      </form>
    </div>
  </div>
</div>

<script>
  function confirmDelete() {
    if (confirm("{% trans 'Are you sure you want to delete this order?' %}")) {
      document.getElementById('deleteForm').submit();
    }
  }
  document.addEventListener('DOMContentLoaded', function() {
    var checkboxes = document.querySelectorAll('.stage-sewing-checkbox');
    checkboxes.forEach(function(checkbox) {
        checkbox.addEventListener('change', function() {
          var passportSizeId = this.dataset.passportSizeId;
          fetch(`/production/cutter/orders/mark-as-sewing/${passportSizeId}/`, {
              method: 'POST',
              headers: {
                  'X-CSRFToken': getCookie('csrftoken')
              },
          })
          .then(response => response.json())
          .then(data => {
              if (!data.success) {
                alert('Не получилось обновить');
              }
          })
          .catch(error => {
              console.error('Error:', error);
              this.checked = false;
          });
        });
    });
    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
    }
  });
</script>
{% endblock %}