.main-cont {
    background: white;
    width: 100%;
    padding: 20px;
}

@media (min-width: 992px) {
    .main-cont {
        padding: 60px;
        font-size: 16px;

    }
}

.btn-custom {
    /* background-color: #007bff; */
    /* color: white; */
    padding: 6px 20px;

    color: white;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    transition: color 0.3s, background-color 0.3s;
}
.btn-custom:hover {
    color: #007BFF;
    background-color: white;
}
.btn-outline-custom {
    border-color: #007bff;
    color: #007bff;
    padding: 6px 43px;
    height: 38px;

}
.btn-outline-custom:hover {
    background-color: #007bff;
    color: white;
}

.btn-outline-custom:active {
    background-color: #0056b3;
    border-color: #0056b3;
    color: white;
}

.nav-tabs .nav-link.active {
    background-color: white;
    border-bottom: 3px solid #007bff;
    color: #007bff;
}

.nav-tabs .nav-link {
    border: none;
    color: #718EBF;
}

.nav-tabs {
    border-bottom: none;
}

.form-control {
    border-radius: 5px;
}

.card-body h5 {
    font-weight: bold;
}

.d-flex.justify-content-between div {
    font-weight: bold;
}

.tab-content {
    border-top: 1px solid #dee2e6;
    padding-top: 30px;
}

.button-top {
    margin-bottom: 2.5rem;
}

.rounded-border {
    border-radius: 8px;
}

.input-group-text {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    color: #718EBF;
}

.input-group .form-control {
    border-radius: 0.25rem;
    border-left: 0;
}

.custom-padding {
    padding: 22px 35px;
}

.list-custom {
    margin-top: 30px;
}

.custom-list-group {
    margin-bottom: 20px;
}

.custom-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-link {
    text-decoration: none;
    color: #007bff; /* Link color */
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    transition: background-color 0.3s ease;
}

.order-link:hover {
    background-color: #f0f0f0; /* Hover background color */
    text-decoration: none; /* Remove underline on hover */
}

.order-number {
    font-weight: bold;
}

.days-left {
    color: #888;
}

.pagination-container {
    margin-top: 20px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 0.25rem;
}

.pagination .page-item:first-child .page-link {
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.pagination .page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.pagination .page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #dee2e6;
}
.custom-list-item{
    border: 1px solid rgba(0, 0, 0, .125) !important;
}


/* Admin DashBoard CSS Start */
#wrapper {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    position: relative;
    font-family: system-ui;
    font-weight: 500;
    background-color: #f5f7fa;
  }
  

  #sidebar-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 220px;
    background-color: #fff;
    z-index: 1000;
    overflow-y: auto;
    transition: all 0.3s;
  }

  #page-content-wrapper {
    width: 100%;
    transition: margin-left 0.3s;
    margin-left: 220px;
  }

  .bg-primary {
    background-color: #fff !important;
  }

  .card {
    border-radius: 8px;
    border: none;
  }

  .card .card-body {
    padding: 20px;
  }

  .card .card-title {
    font-weight: 600;
    color: #232323;
    text-align: center;
  }

  .icon {
    color: rgba(164, 140, 140, 0.7);
    margin-bottom: 10px;
  }

  .navbar {
    background-color: white !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  }

  .sidebar-heading {
    padding: 8px 45px;
    font-size: 1.25rem;
  }

  .list-group-item {
    border: none;
    color: #B1B1B1;
  }

  .list-group-item i {
    margin-right: 10px;
  }

  .navbar .nav-item .nav-link img {
    width: 30px;
    height: 30px;
  }

  .search-container {
    display: block;
    margin: 0 auto;
  }

  input#search-bar {
    margin: 0 auto;
    border-radius: 30px;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }

  input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }

  input#search-bar:focus::placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }

  .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -60px;
    right: -10px;
  }

  .card {
    transition: box-shadow 0.3s ease-in-out;
  }

  .card:hover {
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.3);
  }

  .selected {
    background-color: white !important;
    color: rgb(2, 38, 183) !important;
  }

  #menu-toggle {
    border: none;
    background: none;
    outline: none;
  }

  #menu-toggle .fa {
    font-size: 24px;
  }

  #close-sidebar {
    border: none;
    background: none;
    outline: none;
    width: 50px;

  }


  .navbar-nav {
    flex-direction: row;
  }

  @media (max-width: 767px) {
    #sidebar-wrapper {
      transform: translateX(-100%);
    }

    #wrapper.toggled #sidebar-wrapper {
      transform: translateX(0);
    }

    #page-content-wrapper {
      margin-left: 0;
    }

    #menu-toggle {
      display: block;
    }
  }

  .close-btn {
    display: none;
  }

  @media (max-width: 767.98px) {
    .close-btn {
      display: block;
    }

  }

  #sidebar-container {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 999;
    background: transparent;
    border: none;
    cursor: pointer;
  }


  @media (max-width: 767px) {
    #sidebar-container {
      flex-direction: column;
    }

    .close-btn {
      top: 10px;
      right: 10px;
    }
  }

