{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans "Technologist Dashboard" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>


<div class="container maincontr">
  <div class="card-header">
    {% trans "Assign Operations for Passport" %} №{{ passport.id }}        
  </div>
  <div class="container">
    <!-- <div class="card"> -->

          <div class="card-body">
              <!-- <div class="row"> -->
                  <!-- <div class="col-md-12 details"> -->
                    <p>
                      <strong>{% trans "Model:" %}</strong> {{ passport.order.model.name }},
                      <strong>{% trans "Client:" %}</strong> {{ passport.order.client_order.client.name }},
                      <strong>{% trans "Assortment:" %}</strong> {{ passport.order.assortment.name }},
                      <strong>{% trans "Roll:" %}</strong> {% for pr in passport_rolls %} {{ pr.roll.name }}{% endfor %},
                      <strong>{% trans "Usage:" %}</strong> {% for pr in passport_rolls %} {{ pr.meters }}м{% endfor %},
                      <strong>{% trans "Color:" %}</strong> {% for pr in passport_rolls %} {{ pr.roll.color }}{% endfor %},
                      <strong>{% trans "Fabrics:" %}</strong> {% for pr in passport_rolls %} {{ pr.roll.fabrics }}{% endfor %},
                      <strong>{% trans "Date:" %}</strong> {{ passport.date|date:"Y-m-d" }}
                    </p>
                  <!-- </div> -->



              <!-- </div> -->
          </div>

<!-- </div> -->

          <form id="operationAssignmentForm" class="operation-form">
            {% csrf_token %}
            <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th style="padding: 0px 161px 0px 4px;">{% trans "Operation \ Size" %}</th>
                  {% for ps in size_quantities %}
                    <th>
                      {{ ps.size_quantity.size }}<br>
                      ({% trans "Qty:" %} {{ ps.quantity }})
                    </th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for operation in operations %}
                    {% if not operation.node.is_common %}
                    <tr>
                        <td>{{ operation.name }}</td>
                        {% for sq in size_quantities %}
                        <td>
                            {% get_work work_by_op_and_size operation.id sq.id as works %}
                            {% if works %}
                                {% for work in works %}
                                <div style="display: block;">
                                    <span class="{{ work.id }} editable" style="color: {{ work.is_success|yesno:'green,red' }}; display: inline-block;" data-work="{{ work.id }}">{{ work.employee.employee_id }} ({{ work.quantity }})</span><br>
                                    {% if work.end_time %}
                                      <input type="checkbox" class="success-checkbox" data-work="{{ work.id }}" style="display: inline; margin-left: 10px;" {% if work.is_success %} checked {% endif %}>
                                      <i class="fas fa-redo reassign-icon" data-work="{{ work.id }}" title="{% trans 'Reassign Work' %}" style="display: inline; margin-left: 5px;"></i>
                                    {% endif %}
                                </div>
                                {% endfor %}
                            {% else %}
                                <input type="text" name="employee_{{ operation.id }}_{{ sq.id }}" class="employee-input" placeholder="{% trans 'ID (Quan.)' %}" style="width: 80px;">
                            {% endif %}
                        </td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
            </tbody>    
            </table>
          </div>
          </form>
          <div class="form-actions">
            {% comment %} <form method="post" action="{% url 'complete_passport' passport.id %}" class="completion-form">
              {% csrf_token %}
              {% if passport.is_completed %}
                <button type="submit" class="btn complete-btn" onclick="return confirm('{% trans 'Are you sure you want to reopen this passport?' %}');">{% trans "Reopen" %}</button>
              {% else %}
                <button type="submit" class="btn complete-btn" onclick="return confirm('{% trans 'Are you sure you want to mark this passport as completed?' %}');">{% trans "Complete" %}</button>
              {% endif %}
            </form> {% endcomment %}
            <a href="{% url 'download_passport_excel' passport.id %}" class="btn edit-btn">{% trans "Download Excel" %}</a>
            <a href="{% url 'order_detail_technologist' passport.order.pk %}" class="btn back-btn">{% trans "Back" %}</a>
          </div>
          <div id="reassignPopupOverlay" class="reassign-popup-overlay" style="display: none;">
            <div id="reassignPopup" class="reassign-popup" style="display: none;">
              <div id="reassignedWorksList" class="reassigned-works-list">
                <!-- Reassigned works will be displayed here as bullet points -->
              </div>
              <form id="reassignForm" class="reassign-form">
                <label for="newEmployeeId">New Employee ID:</label>
                <input type="text" id="newEmployeeId" name="newEmployeeId">
            
                <label for="reassignQuantity">Quantity:</label>
                <input type="number" id="reassignQuantity" name="reassignQuantity">
          
                <label for="reassignReason">Reason:</label>
                <input type="text" id="reassignReason" name="reassignReason">
            
                <input type="hidden" id="reassignWorkId" name="reassignWorkId">
                <div class="modal-buttons">

                <button type="submit" class="buttonsetting" style="background-color: #007bff !important;">Submit</button>
                <button type="button" onclick="closePopup()">Cancel</button>
                </div>
              </form>
            </div>  
          </div>

</div>
      <!-- </div> -->
</div>




<script>
  var passportId = "{{ passport.id }}";
  
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }
  
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.employee-input').forEach(input => {
      input.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
          event.preventDefault();
          const operationId = input.name.split('_')[1];
          const passport_size_id = input.name.split('_')[2];
          const value = input.value;
          assignOperation(operationId, passport_size_id, value, input);
        }
      });
    });
  
    document.querySelector('#operationAssignmentForm').addEventListener('dblclick', function(event) {
      if (event.target.classList.contains('editable')) {
        const span = event.target;
        const originalText = span.textContent;
        const input = document.createElement('input');
        input.type = 'text';
        input.value = originalText;
        input.className = 'edit-input';
        input.style.width = '80px';
        input.setAttribute('data-work', span.getAttribute('data-work'));
        span.parentNode.replaceChild(input, span);
        input.focus();
  
        const revertToSpan = (value) => {
          const parent = input.parentNode;
          const newSpan = document.createElement('span');
          newSpan.textContent = value || '';
          newSpan.className = 'editable';
          newSpan.setAttribute('data-work', span.getAttribute('data-work'));
      
          if (parent) { 
              parent.replaceChild(newSpan, input);
          } else {
              console.error('Failed to find parent element for replacement');
          }
        };
  
        input.addEventListener('blur', () => revertToSpan(input.value));
  
        input.addEventListener('keypress', function(e) {
          if (e.key === 'Enter') {
            e.preventDefault();
            const workId = input.getAttribute('data-work');
            updateWork(workId, input.value, revertToSpan);
          }
        });
      }
    });
  
    document.querySelectorAll('.success-checkbox').forEach(checkbox => {
      checkbox.addEventListener('change', function() {
        const workId = this.getAttribute('data-work');
        const isChecked = this.checked;
        updateWorkSuccess(workId, isChecked);
      });
    });
    
    document.querySelectorAll('.reassign-icon').forEach(icon => {
      icon.addEventListener('click', function() {
          const assignedWorkId = this.getAttribute('data-work');
          document.getElementById('reassignWorkId').value = assignedWorkId;
          fetch(`/production/technologist/passports/api/reassigned_works/${assignedWorkId}/`, {
              headers: {
                  'X-Requested-With': 'XMLHttpRequest'
              },
          })
          .then(response => response.json())
          .then(data => {
              const reassignedWorksList = document.getElementById('reassignedWorksList');
              reassignedWorksList.innerHTML = ''; // Clear previous content
  
              if (data.reassigned_works && data.reassigned_works.length > 0) {
                  const list = document.createElement('ul');
                  data.reassigned_works.forEach(work => {
                      const item = document.createElement('li');
                      item.innerHTML = `Employee ID: ${work.new_employee__employee_id}, Quantity: ${work.reassigned_quantity}, Reason: ${work.reason}`;
                      if (work.is_completed) item.style.color = 'red';
                      if (work.is_success) item.style.color = 'green';           
                      const checkbox = document.createElement('input');
                      checkbox.type = 'checkbox';
                      checkbox.addEventListener('change', () => {
                        const formData = new FormData();
                        formData.append('reassigned_work_id', work.id);
                        fetch('/production/technologist/passports/reassign-work/complete/', {
                            method: 'POST',
                            body: formData,
                            headers: {'X-CSRFToken': getCookie('csrftoken')},
                        })
                        .then(res => res.json())
                        .then(data => {
                            alert('Не получилось обновить');
                            closePopup();
                        })
                        .catch(error => console.error('Error:', error));
                      });
  
                      item.appendChild(checkbox);
                      list.appendChild(item);
                  });
                  reassignedWorksList.appendChild(list);
              } else {
                  reassignedWorksList.textContent = 'No reassigned works yet.';
              }
  
              showPopup();
          });
      });
    });
  
    document.getElementById('reassignForm').addEventListener('submit', function(event) {
      event.preventDefault();
    
      const workId = document.getElementById('reassignWorkId').value;
      const newEmployeeId = document.getElementById('newEmployeeId').value;
      const quantity = document.getElementById('reassignQuantity').value;
      const reason = document.getElementById('reassignReason').value;
    
      const xhr = new XMLHttpRequest();
      const url = `/production/technologist/passports/reassign-work/`;
      xhr.open('POST', url, true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
    
      const data = {
        work_id: workId,
        new_employee_id: newEmployeeId,
        quantity: parseInt(quantity),
        reason: reason
      };
    
      xhr.onload = function() {
        const response = JSON.parse(xhr.responseText);
        if (xhr.status === 200) {
          alert("Успешное обновление");
          closePopup();
        } else {
          console.error('Request failed with status:', xhr.status);
          alert('Не получилось обновить');
        }
      };
    
      xhr.send(JSON.stringify(data));
    });
    
  });
  
  function assignOperation(operationId, passport_size_id, value, inputElement) {
    fetch(`/production/technologist/passports/${passportId}/assign_operations/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
        'X-Requested-With': 'XMLHttpRequest'
      },
      body: JSON.stringify({
        operation_id: operationId,
        passport_size_id: passport_size_id,
        value: value
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'success') {
        inputElement.value = ''; // Clear the input field
        const newSpan = document.createElement('span');
        newSpan.className = 'editable'; // Assign any necessary classes
        newSpan.textContent = value; // Set the text content to "ID (Quantity)"
        inputElement.parentNode.replaceChild(newSpan, inputElement);
      } else {
        console.error('Failed to assign operation', data.message);
        alert('Не получилось обновить');
      }
    });
  }
  
  function updateWork(workId, newValue, callback) {
    const xhr = new XMLHttpRequest();
    const url = `/production/technologist/passports/update_work/`;
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
  
    const data = {
      work_id: workId,
      value: newValue
    };

    xhr.onload = function() {
      if (xhr.status === 200) {
        const response = JSON.parse(xhr.responseText);
        if (response.status === 'success') {
          callback(newValue); // Update the span text with the new value
        } else {
          console.error('Failed to update work', response.message);
          alert('Не получилось обновить');
          callback(); // Revert to original text if the update fails
        }
      } else {
        console.error('Request failed with status:', xhr.status);
        alert('Не получилось обновить');
        callback(); // Revert to original text if the request fails
      }
    };
  
    xhr.send(JSON.stringify(data));
  }
  
  function updateWorkSuccess(workId, isSuccess) {
    const xhr = new XMLHttpRequest();
    const url = `/production/technologist/passports/update_work_success/`;
    xhr.open('POST', url, true);
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
  
    xhr.onload = function() {
      if (xhr.status === 200) {
        const span = document.querySelector(`span[data-work="${workId}"]`);
        if (span) {
          span.style.color = isSuccess ? 'green' : 'red';
        }
      } else {
        console.error('Failed to update work success status');
        alert('Не получилось обновить');
      }
    };
  
    xhr.send(`work_id=${workId}&is_success=${isSuccess}`);
  }
  function showPopup() {
    document.getElementById('reassignPopup').style.display = 'block';
    document.getElementById('reassignPopupOverlay').style.display = 'flex';
  }
  
  function closePopup() {
    document.getElementById('reassignPopup').style.display = 'none';
    document.getElementById('reassignPopupOverlay').style.display = 'none';
  }
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.employee-input').forEach(input => {
      input.addEventListener('input', function(event) {
        const value = input.value.trim();
  
        // Ensure that the change propagates only if the input is the first in its row
        const row = input.closest('tr');
        const inputs = row.querySelectorAll('.employee-input');
        if (inputs[0] === input) { // Ensures this is the first input
          inputs.forEach((inp, index) => {
            if (index > 0) { // Apply changes to all other inputs regardless of their current content
              inp.value = value;
            }
          });
        }
      });
    });
  
    // Additional existing handlers can be included below
  });  
</script>
<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll('.employee-input').forEach(input => {
      input.addEventListener('keypress', function(event) {
        if (event.key === 'Enter') {
          event.preventDefault();
          const row = input.closest('tr');
          const inputs = row.querySelectorAll('.employee-input');
          const operations = [];
  
          inputs.forEach((inp, index) => {
            const value = inp.value.trim();
            if (value) {
              const operationId = inp.name.split('_')[1];
              const passportSizeId = inp.name.split('_')[2];
              operations.push({operationId, passportSizeId, value, inputElement: inp});
            }
          });
  
          if (operations.length > 0) {
            operations.forEach((op, index) => {
              if (index === 0) {
                // The first input remains as is, only submit its data
              } else {
                // For all other inputs, replace them with span after submission
                assignOperation(op.operationId, op.passportSizeId, op.value, op.inputElement, false);
              }
            });
          } else {
            alert('Необходимо ввести ID сотрудника');
          }
        }
      });
    });
  });
  
  function assignOperation(operationId, passportSizeId, value, inputElement, isFirst) {
    fetch(`/production/technologist/passports/${passportId}/assign_operations/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': getCookie('csrftoken'),
        'X-Requested-With': 'XMLHttpRequest'
      },
      body: JSON.stringify({
        operation_id: operationId,
        passport_size_id: passportSizeId,
        value: value
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.status === 'success') {
        if (!isFirst) {
          const newSpan = document.createElement('span');
          newSpan.className = 'editable'; // Assign any necessary classes
          newSpan.textContent = value; // Set the text content to "ID (Quantity)"
          if (inputElement.parentNode) {
            inputElement.parentNode.replaceChild(newSpan, inputElement);
          }
        }
      } else {
        console.error('Failed to assign operation', data.message);
        alert('Не получилось обновить');
      }
    });
  }  
</script>
{% endblock %}
