{% extends "base.html" %}
{% load custom_filters %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="order-detail-cutter-container">
  <h2 class="form-heading">{% trans "Model Details:" %} {{ order.model.name }}</h2>
  <!-- Error Modal -->
  <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="errorModalLabel">Error</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="errorModalMessage">
          <!-- Error message will be displayed here -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; ">{% trans "Packer Dashboard" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>


<div class="container maincontr">
  <div class="card-header">
    {% trans "Model Details:" %} {{ order.model.name }}          
  </div>
  <input type="text" id="barcode-input" autofocus style="margin: 10px 0; padding: 8px; width: 100%;"/>
  <h3 class="sub-heading" style="margin-top: 20px;">{% trans "Size Quantities" %}</h3>
  <table class="table">
    <thead>
      <tr>
        <th>{% trans "Size\Passport" %}</th>
        {% for passport in passports %}
        <th>№{{ passport.id }}</th>
        {% endfor %}
        <th>{% trans "Sum" %}</th>
        <th>{% trans "Required" %}</th>
        <th>{% trans "Missing" %}</th>
      </tr>
    </thead>
    <tbody>
      {% for size, data in required_missing.items %}
      <tr>
          <td>{{ size }}</td>
          {% for passport in passports %}
          <td>
            {{ size_data|get_item:size|get_item:passport.id|get_item:"quantity"|default_if_none:"0" }}
            ({{ size_data|get_item:size|get_item:passport.id|get_item:"packed_quantity"|default_if_none:"0" }})
            {% if size_data|get_item:size|get_item:passport.id|get_item:"stage" is None %}
            {% elif size_data|get_item:size|get_item:passport.id|get_item:"stage" == 4 %}
              <button type="button" class="stage-done-button btn success-btn" data-passport-size-id="{{ size_data|get_item:size|get_item:passport.id|get_item:"passport_size_id" }}">
                {{ size_data|get_item:size|get_item:passport.id|get_item:"stage"|get_stage }}
              </button>
            {% elif size_data|get_item:size|get_item:passport.id|get_item:"stage" < 3 %}
              <button type="button" class="stage-done-button btn back-btn">
                {{ size_data|get_item:size|get_item:passport.id|get_item:"stage"|get_stage }}
              </button>
            {% else %}
            <div class="list-group" >
                <a href="#" class="list-group-item list-group-item-action" style="border: 1px solid #ced4da;">
                  {% trans "No associated discrepancies." %}
                  </a>
            </div>
            {% endif %}
        </div>
     



<!-- </div> -->
</div>




<script>
  document.addEventListener('DOMContentLoaded', function() {
    var buttons = document.querySelectorAll('.stage-done-button');
    buttons.forEach(function(button) {
      button.addEventListener('click', function() { // Changed to 'click' event for buttons
        var passportSizeId = this.dataset.passportSizeId; // Access data attribute from button
        if (passportSizeId) {
          fetch(`/production/packer/orders/mark-as-done/${passportSizeId}/`, {
            method: 'POST',
            headers: {
              'X-CSRFToken': getCookie('csrftoken')
            },
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              window.location.reload();
            } else {
              alert('Не получилось обновить');
            }
          })
          .catch(error => {
            console.error('Error:', error);
          });
        }
      });
    });
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }
  });
</script>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var barcodeInput = document.getElementById('barcode-input');

    barcodeInput.addEventListener('change', function() {
      var barcode = barcodeInput.value.trim();
      if (barcode) {
        let ids = barcode.split('-');
        let pieceId = ids[ids.length - 1];  // Get the piece ID from barcode

        fetch(`/production/packer/orders/update-piece-status/${pieceId}/`, {
          method: 'POST',
          headers: {
            'X-CSRFToken': getCookie('csrftoken'),
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({stage: 'Packed'})
        })
        .then(response => response.json())
        .then(data => {
          if (data.success) {
            console.log('Piece updated to Packed:', data.message);
          } else {
            document.getElementById('errorModalMessage').textContent = data.message;
            $('#errorModal').modal('show');
          }
        })
        .catch(error => {
          console.error('Error updating piece:', error);
          document.getElementById('errorModalMessage').textContent = 'An unexpected error occurred.';
          $('#errorModal').modal('show');
        });
      }
      barcodeInput.value = ''; // Clear the input
      barcodeInput.focus();   // Refocus the input
    });

    function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          if (cookie.substring(0, name.length + 1) === (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
    }
  });
</script> 
{% endblock %}