{% extends "base.html" %}
{% load i18n %}
{% block content %}






<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont" >{% trans 'Packer Dashboard' %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: auto;">
          {{ request.user.username }}
        </li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <a class="dropdown-item">
              <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
            </a>
          </form>
        </li>
      </ul>
    </div>
  </nav>

<div class="container maincontr">

    <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item">
            <a class="nav-link {% if not selected_status %}active{% endif %}" id="all-tab"  href="{% url 'order_list_packer' %}" role="tab" aria-controls="all"
                aria-selected="false">{% trans "All" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if selected_status|stringformat:"s" == Order.NEW|stringformat:"s" %}active{% endif %}" id="new-tab"  href="?status={{ Order.NEW }}" role="tab" aria-controls="new"
                aria-selected="true">{% trans "New" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if selected_status|stringformat:"s" == Order.IN_PROGRESS|stringformat:"s" %}active{% endif %}" id="in-progress-tab"  href="?status={{ Order.IN_PROGRESS }}" role="tab"
                aria-controls="in-progress" aria-selected="false">{% trans "In Progress" %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link {% if selected_status|stringformat:"s" == Order.COMPLETED|stringformat:"s" %}active{% endif %}" id="completed-tab"  href="?status={{ Order.COMPLETED }}" role="tab"
                aria-controls="completed" aria-selected="false">{% trans "Completed" %}</a>
        </li>
    </ul>


  <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="new" role="tabpanel" aria-labelledby="new-tab">
          <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-4">
                  <h4 class="font-weight-bold">{% trans "Models" %}</h4>
              </div>

          </div>
          </div>
          <br>

        <ul class="list-group custom-list-group">
            {% for order_info in orders_with_days_left %}
            <a href="{% url 'order_detail_packer' order_info.order.pk %}" class="order-link " >
            <li class="list-group-item custom-list-item listequal" style="color:#007bff">
                  {{ order_info.order.model.name }} - {{ order_info.order.color }} - {{ order_info.order.fabrics }}
                <span class="days-left flex-shrink-0">{% trans "Days left:" %} {{ order_info.days_left }}</span>
              </li>
            </a>
            {% endfor %}
        </ul>
      </div>



  <nav aria-label="Page navigation" class="mt-3" style="flex-direction: column !important;">
    {% if is_paginated %}
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; first</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
          {% endif %}
          {% for num in paginator.page_range %}
          {% if page_obj.number == num %}
          <li class="page-item"><a class="page-link active" href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
          <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
          {% endfor %}
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
          {% endif %}
      </ul>
      {% endif %}
  </nav>
</div>
{% endblock %}
