{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
<div class="assign-operations-container">
  <h2 class="list-heading">{% trans "Passport Details for" %} №{{ passport.id }}</h2>
  <div class="passport-details">
    <p>
      <strong>{% trans "Model:" %}</strong> {{ passport.order.model.name }},
      <strong>{% trans "Client:" %}</strong> {{ passport.order.client.name }},
      <strong>{% trans "Assortment:" %}</strong> {{ passport.order.assortment.name }},
      <strong>{% trans "Roll:" %}</strong> {% for pr in passport_rolls %} {{ pr.roll.name }}{% endfor %},
      <strong>{% trans "Usage:" %}</strong> {% for pr in passport_rolls %} {{ pr.meters }}м{% endfor %},
      <strong>{% trans "Color:" %}</strong> {% for pr in passport_rolls %} {{ pr.roll.color }}{% endfor %},
      <strong>{% trans "Fabrics:" %}</strong> {% for pr in passport_rolls %} {{ pr.roll.fabrics }}{% endfor %},
      <strong>{% trans "Date:" %}</strong> {{ passport.date|date:"Y-m-d" }}
    </p>
  </div>

  <form id="operationAssignmentForm" class="operation-form">
    {% csrf_token %}
    <table class="table">
      <thead>
        <tr>
          <th>{% trans "Operation \ Size" %}</th>
          {% for ps in size_quantities %}
            <th>
              {{ ps.size_quantity.size }}<br>
              ({% trans "Qty:" %} {{ ps.quantity }})
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for operation in operations %}
            <tr>
                <td>{{ operation.name }}</td>
                {% for sq in size_quantities %}
                <td>
                    {% get_work work_by_op_and_size operation.id sq.id as works %}
                    {% if works %}
                        {% for work in works %}
                        <div style="display: block;">
                            <span class="{{ work.id }} editable" style="color: {{ work.is_success|yesno:'green,red' }}; display: inline-block;" data-work="{{ work.id }}">{{ work.employee.employee_id }} ({{ work.quantity }})</span>
                        </div>
                        {% endfor %}
                    {% else %}
                        <input type="text" name="employee_{{ operation.id }}_{{ sq.id }}" class="employee-input" placeholder="{% trans 'ID (Quan.)' %}" style="width: 80px;">
                    {% endif %}
                </td>
                {% endfor %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
  <div class="form-actions">
    <a href="{% url 'order_detail' passport.order.pk %}" class="btn back-btn">{% trans "Back" %}</a>
  </div>
</div>
{% endblock %}