{% extends "base.html" %}
{% load custom_filters %}
{% load i18n %}
{% block content %}
  <h2>{% trans "Operations Assigned for Passport" %}</h2>
  <p>
    <strong>{% trans "Model:" %}</strong> {{ passport.order.model.name }},
    <strong>{% trans "Client:" %}</strong> {{ passport.order.client.name }},
    <strong>{% trans "Assortment:" %}</strong> {{ passport.order.assortment.name }},
    <strong>{% trans "Roll:" %}</strong> {{ passport.order.roll.name }},
    <strong>{% trans "Color:" %}</strong> {{ passport.order.roll.color }},
    <strong>{% trans "Fabrics:" %}</strong> {{ passport.order.roll.fabrics }},
    <strong>{% trans "Date:" %}</strong> {{ passport.date|date:"Y-m-d" }}
  </p>

  <table>
    <thead>
      <tr>
        <th>{% trans "Operation \ Size" %}</th>
        {% for sq in size_quantities %}
          <th>
            {{ sq.size }}
            <br>
            ({% trans "Qty:" %} {{ sq.quantity }})
          </th>
        {% endfor %}
      </tr>
    </thead>
    <tbody>
      {% for operation in operations %}
        <tr>
          <td>{{ operation.name }}</td>
          {% for sq in size_quantities %}
            <td>
              {% get_work work_by_op_and_size operation.id sq.id as works %}
              {% if works %}
                {% for work in works %}
                  {{ work.employee.employee_id }} ({{ work.quantity }}){% if not forloop.last %}, {% endif %}
                {% endfor %}
              {% else %}
                --  {% endif %}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
