{% extends "base.html" %}
{% load i18n %}
{% load custom_filters %}
{% block content %}
<style>
  .assign-operations-container {
    padding: 60px;
    /* background-color: #f7f7f7; */
    /* border-radius: 8px; */
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.1); */
  }

  .form-heading {
    color: #333;
    margin-bottom: 20px;
  }

  .checkbox label {
    display: block;
    padding: 10px;
    margin: 0px 0;
    background-color: #fff;
    border: 1px solid #ddd;
    /* border-radius: 4px; */
    cursor: pointer;
  }

  .checkbox input[type="checkbox"] {
    margin-right: 10px;
  }

  .sortable-item {
    padding: 10px;
    margin-top: 5px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
  }

  .sortable-item:hover {
    background-color: #dfe3e8;
  }

  .sortable-ghost {
    opacity: 0.6;
    background-color: #c8ccd0;
  }

  .form-actions {
    margin-top: 20px;
  }

  .btn {
    padding: 8px 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0056b3;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Technologist Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">
  <div class="card-header">
    <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Create New Model" %}</h2>
  </div>    
  <div class="col-md-12">
    <form method="post" id="modelForm" class="crud-form" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
        {{ form.name }}
        {% if form.name.errors %}
            <div class="error">{{ form.name.errors }}</div>
        {% endif %}
        <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
        {{ form.photo }}
        {% if form.photo.errors %}
            <div class="error">{{ form.photo.errors }}</div>
        {% endif %}
        <label for="{{ form.operations.id_for_label }}">{{ form.operations.label }}</label>
        <input type="text" id="searchOperations" placeholder="{% trans 'Search operations by name...' %}" aria-label="Search" style="margin-bottom: 20px; padding: 8px; width: 100%;">
        <div id="operationsContainer">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>{% trans 'Node' %}</th>
                <th>{% trans 'Select' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Equipment' %}</th>
                <th>{% trans 'Time' %}</th>
                <th>{% trans 'Payment' %}</th>
              </tr>
            </thead>
            <tbody>
              {% with form.fields.operations.queryset|group_by_node as grouped_operations %}
                {% for node, operations in grouped_operations %}
                  {% for operation in operations %}
                  <tr class="checkbox" data-operation-content="{{ operation.number }} - {{ operation.node.name }} - {{ operation.name }}">
                    {% if forloop.first %} <!-- Merge cells for the first operation under each node -->
                    <td rowspan="{{ operations|length }}">
                      {{ node.name }}
                    </td>
                    {% endif %}
                    <td>
                      <input type="checkbox" name="operations" value="{{ operation.id }}">
                    </td>
                    <td>{{ operation.name }}</td>
                    <td>{{ operation.equipment.name }}</td>
                    <td>{{ operation.preferred_completion_time }}</td>
                    <td>{{ operation.payment }}</td>
                  </tr>
                  {% endfor %}
                {% endfor %}
              {% endwith %}
            </tbody>
          </table>
        </div>                
        {{ form.operations_data }}
        <div class="form-actions">
            <button type="button" onclick="prepareOperations()" class="btn create-btn">{% trans "Continue" %}</button>
            <div id="selectedOperations" class="selected-operations"></div>
            <button type="submit" class="btn create-btn">{% trans "Create" %}</button>
        </div>
    </form>
    </div>
</div>

<script>
let selectedOperations = [];

document.getElementById('searchOperations').addEventListener('input', function(e) {
    const searchTerm = e.target.value.toLowerCase();
    const operations = document.querySelectorAll('#operationsContainer table tbody tr[data-operation-content]');

    operations.forEach(op => {
        const content = op.getAttribute('data-operation-content');
        const namePart = content.split('-')[2].trim(); // Assuming the name is always the third part after two dashes.
        if (namePart.toLowerCase().includes(searchTerm)) {
            op.style.display = ''; // Show row if the name matches the search term
        } else {
            op.style.display = 'none'; // Hide row if the name doesn't match
        }
    });
});

function prepareOperations() {
  let checkedBoxes = document.querySelectorAll('#operationsContainer table tbody input[type="checkbox"]:checked');
  let operationsContainer = document.getElementById('selectedOperations');
  operationsContainer.innerHTML = '';

  checkedBoxes.forEach(function(checkbox, index) {
      let parentRow = checkbox.closest('tr');
      let label = parentRow.getAttribute('data-operation-content');
      let div = document.createElement('div');
      div.className = 'sortable-item';
      div.setAttribute('data-id', checkbox.value);
      
      // Adding an order number span next to the label
      let orderSpan = document.createElement('span');
      orderSpan.className = 'order-number';
      orderSpan.textContent = (index + 1) + '. '; // Displaying index + 1 because index is zero-based

      div.appendChild(orderSpan);
      div.appendChild(document.createTextNode(label)); // Append the label text after the order number
      
      operationsContainer.appendChild(div);
  });

  new Sortable(operationsContainer, {
      animation: 150,
      ghostClass: 'sortable-ghost',
      onUpdate: function(evt) {
          // This function runs each time an item is moved. It updates the displayed order numbers.
          let items = operationsContainer.getElementsByClassName('sortable-item');
          Array.from(items).forEach((item, idx) => {
              item.getElementsByClassName('order-number')[0].textContent = (idx + 1) + '. ';
          });
      }
  });
}

function submitOperations(event) {
    event.preventDefault(); // Prevent form from submitting traditionally

    selectedOperations = []; // Clear the array before pushing new data
    let sortedItems = document.querySelectorAll('#selectedOperations .sortable-item');
    sortedItems.forEach(function(item, index) {
        selectedOperations.push({operation_id: item.getAttribute('data-id'), order: index});
    });
    document.getElementById('id_operations_data').value = JSON.stringify(selectedOperations);
    document.getElementById('modelForm').submit(); // Submit the form programmatically
}

document.getElementById('modelForm').addEventListener('submit', submitOperations);
</script>
{% endblock %}
