{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar"><i class="fas fa-bars"></i></button>
    <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Technologist Dashboard' %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: 10px;">{{ request.user.username }}</li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container maincontr">
    <div class="container">
      <div class="card-header d-flex justify-content-between align-items-center">
        {% trans 'Model Details:' %} {{ model.name }}
        {% if model.is_archived %}
          <a href="javascript:void(0);" id="unArchiveBtn" class="btn create-btn">{% trans 'Un Archive' %}</a>
        {% endif %}
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="operation-photo">
              {% if model.photo %}
                <img src="{{ model.photo.url }}" alt="{% trans 'Model Photo' %}">
              {% else %}
                <img src="{% static 'img/noimg1.png' %}" alt="Model Image" class="img-fluid">
              {% endif %}
            </div>
            <p>
              <strong>{% trans 'Assortment:' %}</strong> {{ model.assortment.name }}
            </p>
            <p>
              <strong>{% trans 'Operations:' %}</strong>
            </p>
            {% if ordered_operations %}
              <ul class="list-group">
                {% for operation in ordered_operations %}
                  <a href="{% url 'operation_detail' operation.pk %}"><li class="list-group-item" style="color:#007bff">{{ forloop.counter }}. {{ operation }}</li></a>
                {% endfor %}
              </ul>
            {% else %}
              <p>
                {% trans 'No operations associated with this model.' %}
              </p>
            {% endif %}
            {% if not model.is_archived %}
              <a href="{% url 'model_edit' a_id=model.assortment.pk pk=model.pk %}"><img src="{% static 'img/compose.png' %}" alt="" class="editimg" /></a>
            {% endif %}
            <a href="javascript:void(0);" id="deleteBtn"><img src="{% static 'img/trash.png' %}" alt="" class="deleteimg" /></a>
            <a href="{% url 'model_create' model.assortment.pk %}?copy={{ model.id }}" class="btn edit-btn" style="margin-top:18px;">{% trans 'Copy' %}</a>
          </div>
          <form id="archiveForm"
            action="{% if model.is_archived %}
              {% url 'model_delete' a_id=model.assortment.pk pk=model.pk %}
            {% else %}
              {% url 'model_archive' a_id=model.assortment.pk pk=model.pk %}
            {% endif %}"
            method="post"
            style="display:none;">
            {% csrf_token %}
          </form>
          <form id="unArchiveForm" action="{% url 'model_unarchive' a_id=model.assortment.pk pk=model.pk %}" method="post" style="display:none;">
            {% csrf_token %}
          </form>
        </div>
      </div>
      <div class="modal" id="deleteModal">
        <div class="modal-content">
          <span class="close" id="closeBtn">&times;</span>
          <p>
            {% trans 'Are you sure you want to delete this model?' %}
          </p>
          <div class="modal-buttons">
            <button class="btn confirm" id="confirmDeleteBtn">{% trans 'Confirm' %}</button>
            <button class="btn cancel" id="cancelBtn">{% trans 'Cancel' %}</button>
          </div>
        </div>
      </div>
      <div class="modal" id="unarchiveModal">
        <div class="modal-content">
          <span class="close" id="closeUnarchiveBtn">&times;</span>
          <p>
            {% trans 'Are you sure you want to unarchive this model?' %}
          </p>
          <div class="modal-buttons">
            <button class="btn confirm" id="confirmUnarchiveBtn">{% trans 'Confirm' %}</button>
            <button class="btn cancel" id="cancelUnarchiveBtn">{% trans 'Cancel' %}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('deleteBtn').onclick = function () {
      document.getElementById('deleteModal').style.display = 'flex'
    }
    
    document.getElementById('closeBtn').onclick = function () {
      document.getElementById('deleteModal').style.display = 'none'
    }
    
    document.getElementById('cancelBtn').onclick = function () {
      document.getElementById('deleteModal').style.display = 'none'
    }
    
    document.getElementById('confirmDeleteBtn').onclick = function () {
      document.getElementById('archiveForm').submit()
    }
    
    document.getElementById('unArchiveBtn').onclick = function () {
      document.getElementById('unarchiveModal').style.display = 'flex'
    }
    
    document.getElementById('closeUnarchiveBtn').onclick = function () {
      document.getElementById('unarchiveModal').style.display = 'none'
    }
    
    document.getElementById('cancelUnarchiveBtn').onclick = function () {
      document.getElementById('unarchiveModal').style.display = 'none'
    }
    
    document.getElementById('confirmUnarchiveBtn').onclick = function () {
      document.getElementById('unArchiveForm').submit()
    }
  </script>
{% endblock %}
