{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; ">{% trans "Employee" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class=" border-right" id="sidebar-wrapper">
  <div class="d-flex justify-content-between align-items-centero">
    <button type="button" class="close-btn" id="close-sidebar" aria-label="Close sidebar" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
  </div>
  <!-- <div class="sidebar-heading sidebar-navi">Navigation</div> -->
  <div class="list-group list-group-flush">
    <a href="{% url 'user_redirect' %}" class="list-group-item list-group-item-action text-black">
      <i class="fas fa-cubes"></i> {% trans 'Navigation' %}</a>
    <a href="{% url 'order_list_technologist' %}" class="list-group-item list-group-item-action text-black">
        <i class="fas fa-cubes"></i> {% trans 'Models' %}</a>
    <a href="{% url 'roll_list' %}" class="list-group-item list-group-item-action text-black"><i
        class="fas fa-home"></i> {% trans 'Rolls' %}</a>
    <a href="{% url 'assortment_list' %}" class="list-group-item list-group-item-action text-black"><i
        class="fas fa-table"></i></i> {% trans 'Assortments' %}</a>
    <a href="{% url 'operation_list' %}" class="list-group-item list-group-item-action text-black"><i
        class="fas fa-users"></i> {% trans 'Operations' %}</a>
    <a href="{% url 'node_list' %}" class="list-group-item list-group-item-action text-black"><i
        class="fas fa-user"></i> {% trans 'Nodes' %}</a>
    <a href="{% url 'equipment_list' %}" class="list-group-item list-group-item-action text-black"><i
        class="fas fa-clipboard-list"></i> {% trans 'Equipment' %}</a>
  </div>
</div>


  <div class="container maincontr">
  <div class="d-flex justify-content-end mb-3 ">
    <a href="{% url 'model_create' model.assortment.pk %}?copy={{ model.id }}" class="btn edit-btn ">{% trans "Copy" %}</a>
  </div>
  
  <div class="container">
    <div class="card">
          <div class="card-header">
            {% trans "Model Details:" %} {{ model.name }}
                    </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 details">
                    <p><strong>{% trans "Assortment:" %}</strong> {{ model.assortment.name }}</p>
                    <p><strong>{% trans "Operations:" %}</strong></p>
                    {% if ordered_operations %}
                      <ul class="list-group">
                        {% for operation in ordered_operations %}
                          <li class="list-group-item">
                            <a href="{% url 'operation_detail' operation.pk %}">
                              {{ forloop.counter }}. {{ operation }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% else %}
                      <p>{% trans "No operations associated with this model." %}</p>
                    {% endif %}
                    <a href="{% url 'model_edit' a_id=model.assortment.pk pk=model.pk %}"><img src="{% static 'img/compose.png' %}" alt="" class="editimg"></a>
                      <a href="javascript:void(0);" id="deleteBtn" ><img src="{% static 'img/trash.png' %}" alt="" class="deleteimg"></a>
                  </div>
                  <form id="deleteForm" action="{% url 'model_delete' a_id=model.assortment.pk pk=model.pk %}" method="post" style="display:none;">
                    {% csrf_token %}
                  </form>


                  <div class="col-md-5 text-center">
                      <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
                  </div>
              </div>
          </div>




          <div class="modal" id="deleteModal">
            <div class="modal-content">
                <span class="close" id="closeBtn">&times;</span>
                <p>{% trans "Are you sure you want to delete this client?" %}</p>
                <div class="modal-buttons">
                    <button class="btn confirm" id="confirmDeleteBtn">Confirm</button>
                    <button class="btn cancel" id="cancelBtn">Cancel</button>
                </div>
            </div>
        </div>
</div>
      </div>
</div>
<script>
  document.getElementById('deleteBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'flex';
  };

  document.getElementById('closeBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'none';
  };

  document.getElementById('cancelBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'none';
  };

  document.getElementById('confirmDeleteBtn').onclick = function() {
      document.getElementById('deleteForm').submit();
  };
</script> 
{% endblock %}