{% extends "base.html" %}
{% load i18n %}

{% block content %}
<style>
  .assign-operations-container {
    padding: 60px;
  }

  .form-heading {
    color: #333;
    margin-bottom: 20px;
  }

  .sortable-item {
    padding: 10px;
    margin-top: 5px;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
  }

  .sortable-item:hover {
    background-color: #dfe3e8;
  }

  .sortable-ghost {
    opacity: 0.6;
    background-color: #c8ccd0;
  }

  .form-actions {
    margin-top: 20px;
  }

  .btn {
    padding: 8px 16px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  .btn:hover {
    background-color: #0056b3;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Technologist Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">
  <div class="card-header">
    {% if is_copying %}
    <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Copying Model:" %} {{ copy_model.name }}</h2>
    {% else %}
    <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Edit Model" %}</h2>
    {% endif %}
  </div>
  <div class="col-md-12">
    <form method="post" id="modelForm" class="crud-form" enctype="multipart/form-data">
      {% csrf_token %}
      <input type="hidden" id="operationsOrder" value="{{ operations_order_json }}">

      <label for="{{ form.name.id_for_label }}">{{ form.name.label }}</label>
      {{ form.name }}
      {% if form.name.errors %}
      <div class="error">{{ form.name.errors }}</div>
      {% endif %}

      <label for="{{ form.photo.id_for_label }}">{{ form.photo.label }}</label>
      {{ form.photo }}
      {% if form.photo.errors %}
      <div class="error">{{ form.photo.errors }}</div>
      {% endif %}

      <label for="{{ form.operations.id_for_label }}">{{ form.operations.label }}</label>
      <input type="text" id="searchOperations" placeholder="{% trans 'Search operations by name...' %}" aria-label="Search"
        style="margin-bottom: 20px; padding: 8px; width: 100%;">
      <div id="operationsContainer">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>{% trans 'Select' %}</th>
              <th>{% trans 'Name' %}</th>
              <th>{% trans 'Node' %}</th>
              <th>{% trans 'Equipment' %}</th>
              <th>{% trans 'Preferred Completion Time' %}</th>
              <th>{% trans 'Payment' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for operation in form.fields.operations.queryset %}
            <tr class="checkbox" data-operation-content="{{ operation.number }} - {{ operation.node.name }} - {{ operation.name }}">
              <td>
                <input type="checkbox" name="operations" value="{{ operation.id }}"
                  {% if operation.id in form.fields.operations.initial %}checked{% endif %}>
              </td>
              <td>{{ operation.name }}</td>
              <td>{{ operation.node.name }}</td>
              <td>{{ operation.equipment.name }}</td>
              <td>{{ operation.preferred_completion_time }}</td>
              <td>{{ operation.payment }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      {{ form.operations_data }}

      <div class="form-actions">
        <button type="button" onclick="prepareOperations()" class="btn create-btn">{% trans "Continue" %}</button>
        <div id="selectedOperations" class="selected-operations"></div>
        <button type="submit" class="btn create-btn">{% trans "Save" %}</button>
      </div>
    </form>
  </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function () {
  prepareOperations();
});

document.getElementById('searchOperations').addEventListener('input', function (e) {
  const searchTerm = e.target.value.toLowerCase();
  const operations = document.querySelectorAll('#operationsContainer table tbody tr[data-operation-content]');

  operations.forEach(op => {
    const content = op.getAttribute('data-operation-content');
    const namePart = content.split('-')[2].trim(); // Assuming the name is always the third part after two dashes.
    if (namePart.toLowerCase().includes(searchTerm)) {
      op.style.display = ''; // Show row if the name matches the search term
    } else {
      op.style.display = 'none'; // Hide row if the name doesn't match
    }
  });
});

function prepareOperations() {
  let operationsOrder = JSON.parse(document.getElementById('operationsOrder').value);
  let operationsContainer = document.getElementById('selectedOperations');
  operationsContainer.innerHTML = '';

  let checkboxes = {};
  document.querySelectorAll('#operationsContainer input[type="checkbox"]:checked').forEach(function (checkbox) {
    checkboxes[checkbox.value] = checkbox;
  });

  operationsOrder.forEach(function (operationId, index) {
    if (checkboxes[operationId]) {
      appendOperationToSortableList(checkboxes[operationId], index + 1);
      delete checkboxes[operationId];
    }
  });

  let currentIndex = operationsOrder.length;
  Object.values(checkboxes).forEach(function (checkbox) {
    appendOperationToSortableList(checkbox, ++currentIndex);
  });

  new Sortable(operationsContainer, {
    animation: 150,
    ghostClass: 'sortable-ghost',
    onUpdate: function (evt) {
      let items = operationsContainer.getElementsByClassName('sortable-item');
      Array.from(items).forEach((item, idx) => {
        item.getElementsByClassName('order-number')[0].textContent = (idx + 1) + '. ';
      });
    }
  });
}

function appendOperationToSortableList(checkbox, orderNumber) {
  let label = checkbox.closest('tr').getAttribute('data-operation-content');
  let div = document.createElement('div');
  div.className = 'sortable-item';
  div.setAttribute('data-id', checkbox.value);

  let orderSpan = document.createElement('span');
  orderSpan.className = 'order-number';
  orderSpan.textContent = orderNumber + '. ';

  div.appendChild(orderSpan);
  div.appendChild(document.createTextNode(label));
  document.getElementById('selectedOperations').appendChild(div);
}

function submitOperations(event) {
  event.preventDefault();

  let operationsData = [];
  let sortedItems = document.querySelectorAll('#selectedOperations .sortable-item');
  sortedItems.forEach(function (item, index) {
    operationsData.push({ operation_id: item.getAttribute('data-id'), order: index });
  });
  document.getElementById('id_operations_data').value = JSON.stringify(operationsData);
  document.getElementById('modelForm').submit();
}

document.getElementById('modelForm').addEventListener('submit', submitOperations);
</script>
{% endblock %}
