{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<style>
    .operations-table th, .operations-table td {
        padding: 8px; /* Adjust padding to fit content comfortably */
    }
    .operations-table th:nth-child(1), /* Operation Number */
    .operations-table th:nth-child(3), /* Payment */
    .operations-table th:nth-child(4),
    .operations-table td:nth-child(1),
    .operations-table td:nth-child(3),
    .operations-table td:nth-child(4) { /* Preferred Completion Time */
        width: 10%; /* Smaller width for these columns */
    }
    .operations-table th:nth-child(2), /* Name */
    .operations-table td:nth-child(2) {
        width: 70%; /* Largest width for the Name column */
    }
    .operations-table td input {
        width: 100%; /* Make input take the full width of the cell */
        box-sizing: border-box; /* Includes padding and border in the element's total width */
    }
</style>
<div class="assign-operations-container">
    <h2 class="form-heading">{% trans 'Creating Operations for' %} {{ model.name }}</h2>
    <form method="post" class="operations-form">
        {% csrf_token %}
        <table class="table operations-table">
            <thead>
                <tr>
                    <th>{% trans 'Operation Number' %}</th>
                    <th>{% trans 'Name' %}</th>
                    <th>{% trans 'Payment' %}</th>
                    <th>{% trans 'Preferred Completion Time' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for form in forms %}
                <tr>
                    <td>{{ form.instance.number }}</td>
                    <td>{{ form.name }}</td>
                    <td>{{ form.payment }}</td>
                    <td>{{ form.preferred_completion_time }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">{% trans 'Save Operations' %}</button>
        </div>
    </form>
</div>
{% endblock %}