{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
  <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; ">{% trans "Technologist Dashboard" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
  <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
    <li class="nav-item dropdown" style="margin: 10px;">
      {{ request.user.username }}
    </li>
    <li class="nav-item dropdown">
      <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
      </form>
    </li>
  </ul>
  </div>
  </nav>
  {% comment %}
  <div class=" border-right" id="sidebar-wrapper">
    <div class="d-flex justify-content-between align-items-centero">
      <button type="button" class="close-btn" id="close-sidebar" aria-label="Close sidebar" aria-label="Toggle sidebar">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="list-group list-group-flush">
      <a href="{% url 'user_redirect' %}" class="list-group-item list-group-item-action text-black">
        <i class="fas fa-cubes"></i> {% trans 'Navigation' %}</a>
      <a href="{% url 'order_list_technologist' %}" class="list-group-item list-group-item-action text-black">
          <i class="fas fa-cubes"></i> {% trans 'Models' %}</a>
      <a href="{% url 'roll_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-home"></i> {% trans 'Rolls' %}</a>
      <a href="{% url 'assortment_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-table"></i></i> {% trans 'Assortments' %}</a>
      <a href="{% url 'operation_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-users"></i> {% trans 'Operations' %}</a>
      <a href="{% url 'node_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-user"></i> {% trans 'Nodes' %}</a>
      <a href="{% url 'equipment_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-clipboard-list"></i> {% trans 'Equipment' %}</a>
    </div>
  </div>

  {% endcomment %}
  <div class="container maincontr">

    
    <div class="container">
      <div class="card">
            <div class="card-header">
              {{ assortment.name }}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 details">
                      <ul class="list-group">
                        {% for model in models %}
                          <li class="list-group-item">
                            <a href="{% url 'model_detail' pk=model.pk a_id=assortment.pk %}">{{ model.name }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                    <form id="deleteForm" action="" method="post" style="display:none;">
                      {% csrf_token %}
                    </form>
  
                    <div class="col-md-5 text-center">
                        <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="container-fluid bottomContainer">
              <div class="row">
                  <div class="col-md-6">
                      <h3></h3>
              </div>
              <div class="col-md-6 text-center">
                  <a href="{% url 'model_create' assortment.pk %}" class="btn btn-primary">{% trans "Create Model" %}</a>
              </div>
              </div><br>

          </div>
  
  
  
            <div class="modal" id="deleteModal">
              <div class="modal-content">
                  <span class="close" id="closeBtn">&times;</span>
                  <p>{% trans "Are you sure you want to delete this client?" %}</p>
                  <div class="modal-buttons">
                      <button class="btn confirm" id="confirmDeleteBtn">Confirm</button>
                      <button class="btn cancel" id="cancelBtn">Cancel</button>
                  </div>
              </div>
          </div>
          <div class="pagination">
            {% if is_paginated %}
              <ul class="pagination-list">
                {% if page_obj.has_previous %}
                  <li><a href="?page=1">&laquo; first</a></li>
                  <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
                {% endif %}
          
                {% for num in paginator.page_range %}
                  {% if page_obj.number == num %}
                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                  {% else %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                  {% endif %}
                {% endfor %}
          
                {% if page_obj.has_next %}
                  <li><a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
                  <li><a href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
                {% endif %}
              </ul>
            {% endif %}
          </div>
  </div>
        </div>
  </div>
  
  <script>
  document.getElementById('deleteBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'flex';
  };
  
  document.getElementById('closeBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'none';
  };
  
  document.getElementById('cancelBtn').onclick = function() {
      document.getElementById('deleteModal').style.display = 'none';
  };
  
  document.getElementById('confirmDeleteBtn').onclick = function() {
      document.getElementById('deleteForm').submit();
  };
  </script>







{% comment %}
<div class="content-container">
  <div class="header">
    <h2 class="list-heading">
      <span id="editable-assortment-name" 
            contentEditable="false" 
            ondblclick="makeEditable(this)" 
            onblur="saveChanges(this)">
        {{ assortment.name }}
      </span>
    </h2>
    <p class="create-link"><a href="{% url 'assortment_detail' assortment.pk %}" class="btn edit-btn">{% trans "Assortment Details" %}</a></p>
    <p class="create-link"><a href="{% url 'model_create' assortment.pk %}" class="btn edit-btn">{% trans "Create Model" %}</a></p>
    <p class="create-link"><a href="{% url 'assortment_list' %}" class="btn back-btn">{% trans "Back" %}</a></p>
  </div>
  <ul class="list-group">
    {% for model in models %}
      <li class="list-group-item">
        <a href="{% url 'model_detail' pk=model.pk a_id=assortment.pk %}">{{ model.name }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="pagination">
    {% if is_paginated %}
      <ul class="pagination-list">
        {% if page_obj.has_previous %}
          <li><a href="?page=1">&laquo; first</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
        {% endif %}
  
        {% for num in paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
          <li><a href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %}
  </div>
</div>
{% endcomment %}
<script>
  function getCookie(name) {
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
      const cookies = document.cookie.split(';');
      for (let i = 0; i < cookies.length; i++) {
        const cookie = cookies[i].trim();
        if (cookie.substring(0, name.length + 1) === (name + '=')) {
          cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
          break;
        }
      }
    }
    return cookieValue;
  }

  function makeEditable(element) {
    element.contentEditable = true;
    element.focus(); // Focus on the element to start editing immediately
    element.onkeypress = function(event) { handleKeyPress(event, element); }; // Add keypress event to handle Enter
  }
  
  function handleKeyPress(event, element) {
    if (event.keyCode === 13) { // Enter key
      event.preventDefault();
      finishEditing(element);
    }
  }
  
  function finishEditing(element) {
    element.contentEditable = false; // Disable editing
    updateAssortmentName(element.innerText);
    element.onkeypress = null; // Remove keypress event handler
  }
  
  function saveChanges(element) {
    if (element.contentEditable === "true") {
      finishEditing(element);
    }
  }
  
  function updateAssortmentName(name) {
    const xhr = new XMLHttpRequest();
    xhr.open('POST', '{% url 'update_assortment_name' assortment.pk %}', true);
    xhr.setRequestHeader('Content-Type', 'application/json');
    xhr.setRequestHeader('X-CSRFToken', getCookie('csrftoken'));
  
    xhr.onload = function() {
      if (xhr.status == 200) {
        console.log('Update successful');
      } else {
        console.error(JSON.parse(xhr.responseText));
      }
    };
    xhr.send(JSON.stringify({ name: name }));
  }
  </script>
{% endblock %}