{% extends "base.html" %}
{% load i18n %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323;">{% trans 'Technologist Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-outline-custom">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>


<div class="container maincontr">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <!-- <div class="card"> -->
        <div class="card-header">
          <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Edit Assortment:" %} {{ assortment.name }}</h2>
        </div>
        <div class="card-body">
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
              {{ form.as_p }}
            </div>
            <div class="form-group">

              <div class="row">
                <div class="col text-left">
                  <button type="submit" class="btn btn-create btnset buttonsetting">{% trans "Update" %}</button>
                </div>
                <div class="col text-right">
                  <a href="{% url 'assortment_detail' assortment.pk %}" class=" btn btn-back btn back-btn btnback">{% trans "Cancel" %}</a>
                </div>
            </div>


            </div>
          </form>
        </div>
      <!-- </div> -->
    </div>
  </div>
</div>
{% endblock %}
