{% extends "base.html" %}
{% load i18n %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323;">{% trans 'Technologist Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" style="margin: auto;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <a class="dropdown-item">
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </a>
        </form>
      </li>
    </ul>
  </div>
</nav>
{% comment %}
  <div class=" border-right" id="sidebar-wrapper">
    <div class="d-flex justify-content-between align-items-centero">
      <button type="button" class="close-btn" id="close-sidebar" aria-label="Close sidebar" aria-label="Toggle sidebar">
        <i class="fas fa-bars"></i>
      </button>
    </div>
    <div class="list-group list-group-flush">
      <a href="{% url 'user_redirect' %}" class="list-group-item list-group-item-action text-black">
        <i class="fas fa-cubes"></i> {% trans 'Navigation' %}</a>
      <a href="{% url 'order_list_technologist' %}" class="list-group-item list-group-item-action text-black">
          <i class="fas fa-cubes"></i> {% trans 'Models' %}</a>
      <a href="{% url 'roll_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-home"></i> {% trans 'Rolls' %}</a>
      <a href="{% url 'assortment_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-table"></i></i> {% trans 'Assortments' %}</a>
      <a href="{% url 'operation_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-users"></i> {% trans 'Operations' %}</a>
      <a href="{% url 'node_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-user"></i> {% trans 'Nodes' %}</a>
      <a href="{% url 'equipment_list' %}" class="list-group-item list-group-item-action text-black"><i
          class="fas fa-clipboard-list"></i> {% trans 'Equipment' %}</a>
    </div>
  </div>
{% endcomment %}

<div class="clients-wrapper maincontr">
  <div class="clients-container">
      <div class="clients-header">
        <span class="operation-text">{% trans "Assortments" %}</span>

          <a href="{% url 'assortment_create' %}" class="btn create-btn">{% trans "Create" %}</a>
      </div>
      <ul class="clients-list">
        {% for assortment in assortments %}
        <a href="{% url 'model_list' assortment.pk %}">
          <li class="list-group-item">
            {{ assortment.name }}
          </li>
        </a>
        {% endfor %}
      </ul>
  </div>

  {% if is_paginated %}
      <ul class="pagination-list">
        {% if page_obj.has_previous %}
          <li><a href="?page=1">&laquo; first</a></li>
          <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
        {% endif %}
  
        {% for num in paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
          {% else %}
            <li><a href="?page={{ num }}">{{ num }}</a></li>
          {% endif %}
        {% endfor %}
  
        {% if page_obj.has_next %}
          <li><a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
          <li><a href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
        {% endif %}
      </ul>
    {% endif %}
</div>
{% endblock %}