{% extends "base.html" %}
{% load custom_filters %}
{% load i18n %}
{% load static %}
{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont" >{% trans "Technologist Dashboard" %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">
  <div class="card-header">
    {% trans "Model Details:" %} {{ order.model.name }}          
  </div>
  <div class="container">
    <div class="card-body">
      <div class="row">
        <div class="col-md-6 details">
          <p><strong>{% trans "Model:" %}</strong> {{ order.model.name }}</p>
          <p><strong>{% trans "Color:" %}</strong> 
            {% for color in order.colors.all %}
                {{ color }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                {% trans "No colors selected" %}
            {% endfor %}
          </p>
          <p><strong>{% trans "Fabrics:" %}</strong> 
            {% for fabric in order.fabrics.all %}
                {{ fabric }}{% if not forloop.last %}, {% endif %}
            {% empty %}
                {% trans "No fabrics selected" %}
            {% endfor %}
          </p>
          <p><strong>{% trans "Quantity:" %}</strong> {{ order.quantity }}</p>
          <p><strong>{% trans "Completed Quantity:" %}</strong> {{ order.completed_quantity }}</p>
          <p><strong>{% trans "Term:" %}</strong> {{ order.client_order.term|date:"Y-m-d" }}</p>
          <p><strong>{% trans "Days Left:" %}</strong> {{ days_left }}</p>
        </div>
        <div class="col-md-5 text-center">
          <img src="{% static 'img/client.png' %}" alt="Model Image" class="img-fluid">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h3>{% trans "Required Quantities" %}</h3>
      </div>
    </div><br>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>{% trans "Size" %}</th>
            <th>{% trans "Color" %}</th>
            <th>{% trans "Required" %}</th>
          </tr>
        </thead>
        <tbody>
          {% for item in required_data %}
            <tr>
              <td>{{ item.size }}</td>
              <td>{{ item.color }}</td>
              <td>{{ item.required }}</td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="3">{% trans "No required sizes available." %}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div><br>
  
  <div class="container-fluid bottomContainer">
    <div class="row">
      <div class="col-md-6">
        <h3>{% trans "Associated Cuts" %}</h3>
      </div>
    </div><br>
      {% if associated_cuts %}
        {% for cut in associated_cuts %}
        <div class="list-group">
          <a href="{% url 'cut_detail_technologist' cut.pk %}"
            class="list-group-item list-group-item-action"
            style="border: 1px solid #ced4da; border-radius: 0px;">
            {% trans "Cut Number:" %} {{ cut.number }}, {% trans "Date:" %} {{ cut.date|date:"Y-m-d" }}
          </a>
        </div>
        {% endfor %}
      {% else %}
        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action" style="border: 1px solid #ced4da;">
            {% trans "No associated cuts." %}
          </a>
        </div>
      {% endif %}
    </div>
  </div>


{% endblock %}