{% extends "base.html" %}
{% load i18n static %}

{% block content %}
<div class="content-container">
    <h2 class="form-heading">{% trans "Discrepancy Details" %} №{{ discrepancy.id }}</h2>

    <div class="details">
        <p><strong>{% trans "Model" %}:</strong> {{ discrepancy.passport.order.model.name }}</p>
        <p><strong>{% trans "Passport" %}:</strong> {{ discrepancy.passport.id }}</p>
        <p><strong>{% trans "Size" %}:</strong> {{ discrepancy.size_quantity.size }}</p>
        <p><strong>{% trans "Quantity" %}:</strong> {{ discrepancy.quantity }}</p>
        <p><strong>{% trans "Cost" %}:</strong> {{ discrepancy.cost }}</p>
        <p><strong>{% trans "Status" %}:</strong> {{ discrepancy.get_status_display }}</p>
        <p><strong>{% trans "Reported Date" %}:</strong> {{ discrepancy.reported_date|date:"Y-m-d" }}</p>
        <p><strong>{% trans "Resolved Date" %}:</strong> {{ discrepancy.resolved_date|date:"Y-m-d" }}</p>
    </div>

    <h3 class="sub-heading">{% trans "Assign Responsibility" %}</h3>
    <form id="responsibilityDiscrepancyForm" method="post" class="date-filter-form">
        {% csrf_token %}
        <div class="form-group">
            <label>{% trans "Employee ID:" %}</label>
            {{ form.employee }}
        </div>
        <div class="form-group">
            <label>{% trans "Percentage:" %}</label>
            {{ form.percentage }}
        </div>
        <button type="submit" class="btn edit-btn">{% trans "Assign" %}</button>
    </form>
    <ul id="responsibilityDiscrepancyList" class="responsibility-discrepancy-list">
        {% for rd in responsibility_discrepancies %}
        <li id="rd-{{ rd.id }}" class="responsibility-discrepancy-item">
            <span class="detail"><strong>{% trans "Employee:" %}</strong> <span class="employee" data-rd-id="{{ rd.id }}" contenteditable="false">{{ rd.employee }}</span></span>
            <span class="detail"><strong>{% trans "Percentage:" %}</strong> <span class="percentage" data-rd-id="{{ rd.id }}" contenteditable="false">{{ rd.percentage }}</span></span>
            <button class="edit-btn" data-rd-id="{{ rd.id }}">{% trans "Edit" %}</button>
            <button class="delete-btn" data-rd-id="{{ rd.id }}">{% trans "Delete" %}</button>
        </li>
        {% endfor %}
    </ul>
    <div class="form-actions">
        <a href="{% url 'order_detail' discrepancy.passport.order.pk %}" class="btn back-btn">{% trans "Back" %}</a>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const responsibilityDiscrepancyList = document.getElementById('responsibilityDiscrepancyList');
        responsibilityDiscrepancyList.addEventListener('click', function(e) {
            if (e.target.classList.contains('edit-btn')) {
                handleEdit(e.target);
            } else if (e.target.classList.contains('delete-btn')) {
                handleDelete(e.target);
            }
        });
    
        function handleEdit(button) {
            let rdId = button.getAttribute("data-rd-id");
            let parentLi = document.querySelector(`#rd-${rdId}`);
            let percentageSpan = parentLi.querySelector(".percentage");
            if (!percentageSpan.isContentEditable) {
                percentageSpan.contentEditable = "true";
                percentageSpan.focus();
                button.textContent = '{% trans "Save" %}';
            } else {
                percentageSpan.contentEditable = "false";
                button.textContent = '{% trans "Edit" %}';
                const percentage = percentageSpan.textContent;
                updatePercentage(rdId, percentage);
            }
        }
    
        function updatePercentage(rdId, percentage) {
            fetch(`/production/admin/orders/discrepancies/${rdId}/edit_percentage/`, {
                method: 'POST',
                headers: {
                    'X-CSRFToken': getCookie('csrftoken'),
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ percentage: percentage })
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    console.log('Percentage update successful');
                } else {
                    alert('Failed to update percentage');
                }
            })
            .catch(error => console.error('Error:', error));
        }

        function handleDelete(button) {
            const rdId = button.getAttribute("data-rd-id");
            const confirmDelete = confirm('{% trans "Are you sure you want to delete this discrepancy?" %}');
            if (confirmDelete) {
                fetch(`/production/admin/orders/discrepancies/${rdId}/delete_percentage/`, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': getCookie('csrftoken'),
                    }
                })
                .then(response => {
                    if (response.ok) {
                        const parentLi = document.getElementById(`rd-${rdId}`);
                        if (parentLi) {
                            parentLi.remove();
                        }
                        console.log('Delete successful');
                    } else {
                        alert('Failed to delete discrepancy');
                    }
                })
                .catch(error => console.error('Error:', error));
            }
        }
    
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    });
</script>
{% endblock %}