{% extends "base.html" %}
{% load i18n %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; ">{% trans "Admin Dashboard" %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
        <li class="nav-item dropdown" style="margin: 10px;">
          {{ request.user.username }}
        </li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
              <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>
    <div class="clients-wrapper maincontr">
        <div class="clients-container">

            <div class="clients-header">
              <span class="operation-text">{% trans "Branches" %}</span>

                <a href="{% url 'branch_create' %}" class="btn create-btn">{% trans "Create" %}</a>
              </div>
            <ul class="clients-list">
              {% for branch in branches %}
              <a href="{% url 'branch_detail' branch.pk %}">
                <li class="list-group-item">
                  {{ branch.name }}
                </li>
              </a>
              {% endfor %}
            </ul>
        </div>

        {% if is_paginated %}
            <ul class="pagination-list">
              {% if page_obj.has_previous %}
                <li><a href="?page=1">&laquo; first</a></li>
                <li><a href="?page={{ page_obj.previous_page_number }}">&lsaquo; previous</a></li>
              {% endif %}
        
              {% for num in paginator.page_range %}
                {% if page_obj.number == num %}
                  <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                  <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
              {% endfor %}
        
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}">next &rsaquo;</a></li>
                <li><a href="?page={{ paginator.num_pages }}">last &raquo;</a></li>
              {% endif %}
            </ul>
          {% endif %}
</div>
{% endblock %}