{% extends "base.html" %}
{% load i18n %}

{% block content %}


<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323;">{% trans 'Fixed Salaries Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="form-container" style="padding:20px;">
                    <h3 class="text-center">{% trans "Create New Fixed Salary" %}</h3>
                    <form method="post" class="crud-form">
                      {% csrf_token %}

                        <div class="form-group">
                          {{ form.as_p }}
                        </div>
                        <div class="row">
                          <div class="col text-left">
                            <button type="submit" class="btn btn-create btnset">{% trans "Create" %}</button>
                          </div>
                          <div class="col text-right">
                              <a href="{% url 'fixed_salary_list' %}" class="btn btn-back btn back-btn btnback">{% trans "Back" %}</a>
                            </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}