{% extends "base.html" %}
{% load i18n %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
  <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
    <i class="fas fa-bars"></i>
  </button>
  <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Employees Dashboard' %}</h4>
  <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
      <li class="nav-item dropdown" style="margin: 10px;">
        {{ request.user.username }}
      </li>
      <li class="nav-item dropdown">
        <form action="{% url 'logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<div class="container maincontr">
  <div class="row justify-content-center">
    <div class="col-md-12">
      <div class="card-header">
        <h2 class="card-title" style="margin-bottom: 0px !important;">{% trans "Create New User" %}</h2>
      </div>
      <div class="card-body">
        <form method="post" onsubmit="return validateForm(event);" novalidate>
          {% csrf_token %}
          {% if form.non_field_errors %}
            <div class="alert alert-danger">
              {% for error in form.non_field_errors %}
                {{ error }}<br>
              {% endfor %}
            </div>
          {% endif %}
          <div class="form-group">
            <label for="id_employee_id">{% trans "Employee ID" %}:</label>
            {{ form.employee_id }}
            {% if form.employee_id.errors %}
              <div class="text-danger">
                {% for error in form.employee_id.errors %}
                  {{ error }}<br>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_first_name">{% trans "First Name" %}:</label>
            {{ form.first_name }}
            {% if form.first_name.errors %}
              <div class="text-danger">
                {% for error in form.first_name.errors %}
                  {{ error }}<br>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_last_name">{% trans "Last Name" %}:</label>
            {{ form.last_name }}
            {% if form.last_name.errors %}
              <div class="text-danger">
                {% for error in form.last_name.errors %}
                  {{ error }}<br>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <!-- Password Field with Toggle Icon -->
          <div class="form-group">
            <label for="id_password1">{% trans "Password" %}:</label>
            <div class="input-group">
              {{ form.password1 }}
              <div class="input-group-append">
                <span class="input-group-text" style="cursor:pointer;" onclick="togglePassword('id_password1', this)">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <small id="passwordError" class="text-danger"></small>
            {% if form.password1.errors %}
              <div class="text-danger">
                {% for error in form.password1.errors %}
                  {{ error }}<br>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <!-- Confirm Password Field with Toggle Icon -->
          <div class="form-group">
            <label for="id_password2">{% trans "Confirm Password" %}:</label>
            <div class="input-group">
              {{ form.password2 }}
              <div class="input-group-append">
                <span class="input-group-text" style="cursor:pointer;" onclick="togglePassword('id_password2', this)">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <small id="passwordVerifyError" class="text-danger"></small>
            {% if form.password2.errors %}
              <div class="text-danger">
                {% for error in form.password2.errors %}
                  {{ error }}<br>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-group">
            <label for="id_type">{% trans "Type" %}:</label>
            {{ form.type }}
            {% if form.type.errors %}
              <div class="text-danger">
                {% for error in form.type.errors %}
                  {{ error }}<br>
                {% endfor %}
              </div>
            {% endif %}
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col text-left">
                <button type="submit" class="btn btn-create btnset buttonsetting">{% trans "Create" %}</button>
              </div>
              <div class="col text-right">
                <a href="{% url 'employee_list' %}" class="btn btn-back btn back-btn btnback">{% trans "Back" %}</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  function validateForm(event) {
      var username = document.getElementById('id_username') ? document.getElementById('id_username').value : '';
      var password1 = document.getElementById('id_password1').value;
      var password2 = document.getElementById('id_password2').value;
      var usernameError = document.getElementById('usernameError');
      var passwordError = document.getElementById('passwordError');
      var passwordVerifyError = document.getElementById('passwordVerifyError');
      var isValid = true;

      if(usernameError) { usernameError.innerText = ''; }
      passwordError.innerText = '';
      passwordVerifyError.innerText = '';

      var usernamePattern = /^[a-zA-Z0-9@./+/-/_]*$/;
      var commonlyUsedPasswords = ['password', '12345678', 'qwerty', 'abc123'];

      if (username && username.length < 1) {
          usernameError.innerText = 'Username is required.';
          isValid = false;
      } else if (username && username.length > 150) {
          usernameError.innerText = 'Username must be 150 characters or fewer.';
          isValid = false;
      } else if (username && !usernamePattern.test(username)) {
          usernameError.innerText = 'Username can only contain letters, digits, and @/./+/-/_.'; 
          isValid = false;
      }

      if (password1.length < 8) {
          passwordError.innerText = 'Password must be at least 8 characters long.';
          isValid = false;
      } else if (commonlyUsedPasswords.includes(password1.toLowerCase())) {
          passwordError.innerText = 'Your password can’t be a commonly used password.';
          isValid = false;
      } else if (!isNaN(password1)) {
          passwordError.innerText = 'Your password can’t be entirely numeric.';
          isValid = false;
      }

      if (password1 !== password2) {
          passwordVerifyError.innerText = 'The two password fields didn’t match.';
          isValid = false;
      }
      if (!isValid) {
          event.preventDefault();
      }
      return isValid;
  }

  // Function to toggle the visibility of a password field and change its icon.
  function togglePassword(fieldId, iconElement) {
      var input = document.getElementById(fieldId);
      var icon = iconElement.querySelector('i');
      if (input.type === "password") {
          input.type = "text";
          icon.classList.remove("fa-lock");
          icon.classList.add("fa-lock-open");
      } else {
          input.type = "password";
          icon.classList.remove("fa-lock-open");
          icon.classList.add("fa-lock");
      }
  }
</script>
{% endblock %}
