{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load custom_filters %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
        <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Cutter Dashboard' %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
            <li class="nav-item dropdown" style="margin: 10px;">
                {{ request.user.username }}
            </li>
            <li class="nav-item dropdown">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<div class="container maincontr" style="max-width: 100%;">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card-header">
                <h2 class="card-title" style="margin-bottom: 0px !important;">
                    {% trans "Cut Details for Cut:" %} #{{ cut.number }}
                </h2>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                      <div class="details">
                        <p><strong>{% trans "Date:" %}</strong> {{ cut.date }}</p>
                        <p><strong>{% trans "Order:" %}</strong> {{ cut.order.client_order }}</p>
                        <p><strong>{% trans "Model:" %}</strong> {{ cut.order.model }}</p>
                        <!-- Display overall sizes used (ignoring color/fabric) -->
                        <p>
                          <strong>{% trans "Sizes:" %}</strong>
                          {% for size, extra in passport_sizes_display %}
                            {{ size }}{% if extra %}-{{ extra }}{% endif %}{% if not forloop.last %}, {% endif %}
                          {% endfor %}
                        </p>
                        <p><strong>{% trans "Length:" %}</strong> {{ cut.length }}</p>
                        <p><strong>{% trans "Width:" %}</strong> {{ cut.width }}</p>
                        <p><strong>{% trans "Consumption:" %}</strong> {{ cut.consumption }}</p>
                        <a href="{% url 'cut_edit' cut.pk %}">
                          <img src="{% static 'img/compose.png' %}" alt="" class="editimg" />
                        </a>
                        <a href="javascript:void(0);" id="deleteBtn">
                          <img src="{% static 'img/trash.png' %}" alt="" class="deleteimg">
                        </a>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="rolls">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>{% trans "Color" %}</th>
                              <th>{% trans "Fabric" %}</th>
                              <th>{% trans "Length T" %}</th>
                              <th>{% trans "Length P" %}</th>
                              <th>{% trans "Length U" %}</th>
                              <th>{% trans "Remainder" %}</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for roll in rolls %}
                              <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>{{ roll.color.name }}</td>
                                <td>{{ roll.fabric.name }}</td>
                                <td>{{ roll.length_t }}</td>
                                <td>{{ roll.length_p }}</td>
                                <td>{{ roll.length_u }}</td>
                                <td>
                                {% for remainder in roll.remainders.all %}
                                    {% if not remainder.is_used %}
                                        {{ remainder.length_t }}
                                    {% else %}
                                        {% with remainder.passports.first as passport %}
                                            {% if passport and passport.cut %}
                                                <a href="{% url 'cut_detail'  passport.cut.pk %}"> {% trans "Used in cut" %} {{ passport.cut.number }} </a>
                                            {% endif %}
                                        {% endwith %}
                                    {% endif %} 
                                {% endfor %}
                                </td>
                              </tr>
                            {% empty %}
                              <tr>
                                <td colspan="7">{% trans "No rolls available." %}</td>
                              </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <form id="deleteForm" action="{% url 'cut_delete' cut.pk %}" method="post" style="display:none;">
                    {% csrf_token %}
                  </form>
                  <div class="modal" id="deleteModal">
                    <div class="modal-content">
                      <span class="close" id="closeBtn">&times;</span>
                      <p>{% trans "Are you sure you want to delete this cut?" %}</p>
                      <div class="modal-buttons">
                        <button class="btn confirm" id="confirmDeleteBtn">{% trans "Confirm" %}</button>
                        <button class="btn cancel" id="cancelBtn">{% trans "Cancel" %}</button>
                      </div>
                    </div>
                  </div>                  
                  
                <form id="deleteForm" action="{% url 'cut_delete' cut.pk %}" method="post" style="display:none;">
                {% csrf_token %}
                </form>
                <div class="modal" id="deleteModal">
                    <div class="modal-content">
                        <span class="close" id="closeBtn">&times;</span>
                        <p>{% trans "Are you sure you want to delete this cut?" %}</p>
                        <div class="modal-buttons">
                        <button class="btn confirm" id="confirmDeleteBtn">{% trans "Confirm" %}</button>
                        <button class="btn cancel" id="cancelBtn">{% trans "Cancel" %}</button>
                      </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6" style="margin:auto;">
                      <h3>{% trans "Passports" %}</h3>
                    </div>
                    <div class="col-md-6 text-center">
                        <a href="{% url 'passport_create' cut.pk %}" class="btn btn-primary">{% trans "Edit" %}</a>
                    </div>
                </div>
                <br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans "Number" %}</th>
                            <th>{% trans "Color" %}</th>
                            <th>{% trans "Fabric" %}</th>
                            <th>{% trans "Layers" %}</th>
                            <th>{% trans "Quantity" %}</th>
                            <th>{% trans "Actions" %}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for passport in passports %}
                            <tr>
                                <td>{{ passport.number }}</td>
                                {% if passport.passport_sizes.all %}
                                    {% with ps=passport.passport_sizes.all.0 %}
                                        <td>{{ ps.size_quantity.color }}</td>
                                        <td>{{ ps.size_quantity.fabrics }}</td>
                                    {% endwith %}
                                {% else %}
                                    <td>-</td>
                                    <td>-</td>
                                {% endif %}
                                <td>{{ passport.layers }}</td>
                                <td>{{ passport.quantity }}</td>
                                <td>
                                    <a href="{% url 'qr_passport_size' passport.pk %}" class="btn btn-sm btn-primary">
                                      {% trans "Download QR" %}
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5">{% trans "No passports available." %}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    document.getElementById('deleteBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'flex';
    };

    document.getElementById('closeBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'none';
    };

    document.getElementById('cancelBtn').onclick = function() {
        document.getElementById('deleteModal').style.display = 'none';
    };

    document.getElementById('confirmDeleteBtn').onclick = function() {
        document.getElementById('deleteForm').submit();
    };
</script>
{% endblock %}