{% extends 'base.html' %}
{% load i18n %}
{% block content %}
  <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom">
    <button class="navbar-toggler" type="button" id="menu-toggle" aria-label="Toggle sidebar">
      <i class="fas fa-bars"></i>
    </button>
    <h4 style="color: #232323; margin:auto;" class="navfont">{% trans 'Packer Dashboard' %}</h4>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: inline;">
      <ul class="navbar-nav ml-auto mt-2 mt-lg-0 navres">
        <li class="nav-item dropdown" style="margin: 10px;">{{ request.user.username }}</li>
        <li class="nav-item dropdown">
          <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">{% trans 'Logout' %}</button>
          </form>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container maincontr">
    <!-- Navigation tabs for filtering -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a href="?term=upcoming" class="nav-link {% if term_filter == 'upcoming' or not term_filter %}active{% endif %}" id="upcoming-tab" role="tab" aria-controls="upcoming" aria-selected="true">
          {% trans 'Upcoming' %}
        </a>
      </li>
      <li class="nav-item">
        <a href="?term=passed" class="nav-link {% if term_filter == 'passed' %}active{% endif %}" id="passed-tab" role="tab" aria-controls="passed" aria-selected="false">
          {% trans 'Passed' %}
        </a>
      </li>
    </ul>

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="orders" role="tabpanel">
        <br/>
        <div class="form-row align-items-center">
          <form method="get" class="date-filter-form">
            <div class="form-row align-items-center mb-3">
              <div class="col-auto">{{ form.start_date.label_tag }}</div>
              <div class="col">{{ form.start_date }}</div>
              <div class="col-auto">{{ form.end_date.label_tag }}</div>
              <div class="col">{{ form.end_date }}</div>
              <div class="col-auto">
                <button type="submit" class="btn btn-primary">{% trans 'Filter' %}</button>
              </div>
              {# Preserve the current term filter when submitting the form #}
              <input type="hidden" name="term" value="{{ term_filter }}">
            </div>
          </form>
        </div>
        <br /><br />
        <ul class="list-group custom-list-group">
          {% for order_info in orders_with_days_left %}
            <a href="{% url 'client_order_detail_packer' order_info.order.pk %}" class="order-link">
              <li class="list-group-item custom-list-item" style="color:#007bff; padding:18px;">
                {{ order_info.order.order_number }} - {{ order_info.order.client.name }} 
                ({{ order_info.order.launch }} - {{ order_info.order.term }})
                <span class="days-left flex-shrink-0">
                  {% if term_filter == 'upcoming' %}
                    {% trans 'Days left:' %} {{ order_info.days_left }}
                  {% else %}
                    {% trans 'Passed by:' %} {{ order_info.days_left }}
                  {% endif %}
                </span>
              </li>
            </a>
          {% endfor %}
        </ul>
      </div>
    </div>
    <br />
  </div>

  <nav aria-label="Page navigation" class="mt-3" style="flex-direction: column !important;">
    {% if is_paginated %}
      <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?term={{ term_filter }}&page=1">&laquo; {% trans 'first' %}</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?term={{ term_filter }}&page={{ page_obj.previous_page_number }}">&lsaquo; {% trans 'previous' %}</a>
          </li>
        {% endif %}
        {% for num in paginator.page_range %}
          {% if page_obj.number == num %}
            <li class="page-item">
              <a class="page-link active" href="?term={{ term_filter }}&page={{ num }}">{{ num }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?term={{ term_filter }}&page={{ num }}">{{ num }}</a>
            </li>
          {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
          <li class="page-item">
            <a class="page-link" href="?term={{ term_filter }}&page={{ page_obj.next_page_number }}">{% trans 'next' %} &rsaquo;</a>
          </li>
          <li class="page-item">
            <a class="page-link" href="?term={{ term_filter }}&page={{ paginator.num_pages }}">{% trans 'last' %} &raquo;</a>
          </li>
        {% endif %}
      </ul>
    {% endif %}
  </nav>
{% endblock %}